<%- include('./includes/head.ejs') -%>
<%- include('./includes/menu.ejs') -%>

      <!-- Slider -->
      <%- include('./components/banner.ejs',{screenname:'For Rent Properties'}) -%>

      <!-- End Slider -->



      <!-- /.rh_prop_search -->
      <div class="wrapper-home-sections" style="margin-top: 30px;">
        <section
        id="properties-listing"
        class="rh_section rh_section--flex rh_wrap--padding rh_wrap--topPadding"
        data-properties-count="6"
      >
        <div class="rh_page rh_page__listing_page rh_page__main">
          <div class="rh_page__head">
            <p
              class="rh_pagination__stats">
            
            </p>
            <!-- /.rh_pagination__stats -->

            <div class="rh_page__controls">
              <div class="rh_sort_controls">
                <select
                  name="sort-properties"
                  id="sort-properties"
                  class="inspiry_select_picker_trigger inspiry_bs_default_mod inspiry_bs_listing inspiry_bs_green"
                >
                  <option value="default">Default Order</option>
                  
                  <option value="price-asc">Price Low to High</option>
                  <option value="price-desc">Price High to Low</option>
                  <option value="date-asc">Date Old to New</option>
                  <option value="date-desc" selected>Date New to Old</option>
                </select>
              </div>
              <!-- /.rh_sort_controls -->
            </div>
            <!-- /.rh_page__controls -->
          </div>
          <!-- /.rh_page__head -->
          <div class="rh_content rh_content_above_footer"></div>
          <!-- /.rh_content -->

          <div class="rh_page__listing">
            <div class="activity-indicator">
              Loading....
              <!-- Add your activity indicator HTML here -->
          </div>
            <!-- /.rh_list_card -->
          </div>
          <!-- /.rh_page__listing -->
          <div class="rh_pagination" id="pagination">
            
          </div>
        </div>
        <!-- /.rh_page rh_page__main -->

        <div class="rh_page rh_page__sidebar">
          <aside class="rh_sidebar">
           
            <section
              id="property_types_widget-2"
              class="widget clearfix Property_Types_Widget"
            >
              <h3 class="title">Property Types</h3>
              <ul id="property-types-list">
                <li><a class="active" href="#" data-property-type="all">All</a></li>
                <li>
                    <a href="#" data-property-type="Commercial">Commercial</a>
                    <ul class="children">
                        <li><a href="#" data-property-type="Office">Office</a></li>
                        <li><a href="#" data-property-type="Shop">Shop</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-property-type="Residential">Residential</a>
                    <ul class="children">
                        <li><a href="#" data-property-type="Apartment">Apartment</a></li>
                        <li><a href="#" data-property-type="Apartment Building">Apartment Building</a></li>
                        <li><a href="#" data-property-type="Condominium">Condominium</a></li>
                        <li><a href="#" data-property-type="Single Family">Single Family</a></li>
                        <li><a href="#" data-property-type="Villa">Villa</a></li>
                    </ul>
                </li>
            </ul>
            
            
            </section>
            <section id="ere_widget_contact_form-4" class="widget clearfix ere_widget_contact_form" style="background-color: #ffffff;padding: 20px;border-radius: 10px;"><h3 class="title">Contact Us</h3>            <div class="ere-contact-form-container rh-ultra-form">
              <form class="ere-contact-form"  id="contactform">
        <p><label for="name_ere_widget_contact_form-4">Name</label><input type="text" name="name" id="name_ere_widget_contact_form-4" class="required" title="* Please provide your name"></p><p><label for="email_ere_widget_contact_form-4">Email</label><input type="text" name="email" id="email_ere_widget_contact_form-4" class="email required" title="* Please provide a valid email address"></p><p><label for="number_ere_widget_contact_form-4">Phone Number</label><input type="text" name="number" id="number_ere_widget_contact_form-4"  ></p><p><label for="message_ere_widget_contact_form-4">Message</label><textarea name="message" id="message_ere_widget_contact_form-4" class="required" title="* Please provide your message" cols="40" rows="5"></textarea></p><p class="rh_inspiry_gdpr clearfix"><span class="gdpr-checkbox-label">GDPR Agreement <span class="required-label">*</span></span><input type="checkbox" name="gdpr" id="inspiry-gdpr" class="required" value="I consent to having this website store my submitted information so they can respond to my inquiry." title="* Please accept GDPR agreement"><label for="inspiry-gdpr">I consent to having this website store my submitted information so they can respond to my inquiry.</label></p>                                    <div class="inspiry-recaptcha-wrapper clearfix g-recaptcha-type-v3">
                                      <div class="inspiry-google-recaptcha"></div>
                                  </div>
                                    <div class="ere-submit-button-container">
                                      <button type="submit" form="contactform" class="rh_btn rh_btn--primary" id="submitform">Submit </button>
                                          
                                          </div>
                  <div class="error-container" id="error-container"></div>
                  <div class="message-container" id="message-container"></div>
              </form>
          </div>
    </section>  
          
          </aside>
        </div>
        <!-- /.rh_page rh_page__sidebar -->
      </section>
      </div>
      
      <%- include('./components/footer.ejs') -%>

    </div>
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>

    <script>
      var pagename = '<%= route %>';
      function layout(property){
        return ` <%- include('./components/listlayout.ejs', {
                                  image: '${property.file[2]}',
                                  propertyname: '${property.plName}',
                                  propertydetails: '${property.plShort}',
                                  bedrooms: '${property.plBedrooms}',
                                  bathrooms: '${property.plBathrooms}',
                                  area: '${property.plTotalArea}',
                                  price: '${property.plExpeactedPrice}',
                                  propertyid:'${property._id}'
                              }) -%>`
      }
    </script>
     <script
     type="text/javascript"
     src="../frontendscripts/getproperties.js"></script>
     <script
     type="text/javascript"
     src="../frontendscripts/contactform.js"></script>
   
    <%- include('./includes/end.ejs') -%>
