<%- include('./includes/head.ejs') -%>
<%- include('./includes/menu.ejs') -%>

      <!-- Slider -->
      <%- include('./components/slider.ejs') -%>

      <!-- End Slider -->
      <%- include('./components/searcher.ejs') -%>

      <!-- /.rh_prop_search -->
      <div class="wrapper-home-sections">
        <section
          class="rh_section rh_section__content rh_section--content_padding"
        >
          <article id="post-7072" class="rh_content">
            <div
              data-elementor-type="wp-post"
              data-elementor-id="7072"
              class="elementor elementor-7072"
            >
              <div class="elementor-inner">
                <div class="elementor-section-wrap">
                
                  <!--  Section  Name -->
    
                  <%- include('./components/sectionnames.ejs', { 
                    sectionName: "Featured Properties", 
                    title: "Checkout", 
                    description: "Checkout our featured properties" 
                  }) -%>
    
    
    
                  <!-- featured Properties -->
                  <section class="elementor-section elementor-top-section elementor-element elementor-element-7ce6891 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7ce6891" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                  <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d0c1a8d" data-id="d0c1a8d" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-dae41ae elementor-widget elementor-widget-rhea-properties-widget" data-id="dae41ae" data-element_type="widget" data-widget_type="rhea-properties-widget.default">
                  <div class="elementor-widget-container">
                      <section id="rh-dae41ae" class="rh_elementor_widget rh_latest-properties rhea_properties_default rhea_ele_property_ajax_target rhea_latest_properties_ajax elementor_properties_grid elementor_property_card_parent rhea_has_tooltip">
                    
                  <div class="container-latest-properties">
                  <div class="wrapper-section-contents">
                  <div class="home-properties-section-inner home-properties-section-inner-target">
                              <div class="rh_properties_element rh_properties_pagination_append" id="featuredpropertiesdiv">
                               
                                      <!-- <div class="wrapper_properties_ele">
                  
                                <article class="rh_prop_card_elementor">
                  
                                    <div class="rh_prop_card__wrap">
                  
                        
                                        <figure class="rh_prop_card__thumbnail">
                                            <div class="rhea_figure_property_one">
                                                <div class="rhea_top_tags_box">
                                                                                      </div>
                                                <a href="../property/villa-on-hollywood-boulevard/index.html">
                              <img width="488" height="326" src="/frontend/wp-content/uploads/2017/06/exterior-01-488x326.jpg" class="attachment-property-thumb-image size-property-thumb-image wp-post-image" alt="" decoding="async" loading="lazy" />                                        </a>
                  
                                                <div class="rh_overlay"></div>
                                                <div class="rh_overlay__contents rh_overlay__fadeIn-bottom">
                                                    <a href="../property/villa-on-hollywood-boulevard/index.html">View Property                                            </a>
                                                </div>
                            
                                            </div>
                  
                                            <div class="rh_prop_card__btns">
                                                <span class="favorite-btn-wrap favorite-btn-94">
                      <span class="favorite-placeholder highlight__red hide user_not_logged_in" data-propertyid="94"  data-tooltip="Added To Favourite" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
                  <path class="rh_svg" d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z" transform="translate(-1077 -1922)"/>
                  </svg>							</span>
                      <a href="#" class="favorite add-to-favorite user_not_logged_in" data-propertyid="94"  data-tooltip="Add To Favourite" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
                  <path class="rh_svg" d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z" transform="translate(-1077 -1922)"/>
                  </svg>							</a>
                    </span>
                      <span class="add-to-compare-span rhea_compare_icons rhea_svg_fav_icons compare-btn-94"
                  data-property-id="94"
                  data-property-title="Villa on Hollywood Boulevard"
                  data-property-url="../property/villa-on-hollywood-boulevard/index.html"
                  data-property-image="/frontend/wp-content/uploads/2017/06/exterior-01-488x326.jpg"
                  
                  >
                  <span class="compare-placeholder highlight hide"
                  data-tooltip="Added To Compare">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z" transform="translate(-1121 -1922)"/>
                  </svg>
                  </span>
                  <a class="rh_trigger_compare rhea_add_to_compare" data-tooltip="Add To Compare" href="../property/villa-on-hollywood-boulevard/index.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z" transform="translate(-1121 -1922)"/>
                  </svg>
                  </a>
                  </span>
                                                </div>
                                        </figure>
                  
                                        <div class="rh_prop_card__details_elementor">
                  
                                            <h3><a href="../property/villa-on-hollywood-boulevard/index.html">Villa on Hollywood Boulevard</a></h3>
                  
                          
                                                <p class="rh_prop_card__excerpt">The very best waterfront location in Harbor Islands complete with&hellip;</p>
                  
                            
                                            <div class="rh_prop_card__meta_wrap_elementor">
                  
                                <div class="rh_prop_card_meta_wrap_stylish">
                        <div class="rh_prop_card__meta">
                                    <span class="rhea_meta_titles">Bedrooms</span>
                                  <div class="rhea_meta_icon_wrapper">
                  <svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <defs>
                  </defs>
                  <path d="M1111.91,600.993h16.17a2.635,2.635,0,0,1,2.68,1.773l1.21,11.358a2.456,2.456,0,0,1-2.61,2.875h-18.73a2.46,2.46,0,0,1-2.61-2.875l1.21-11.358A2.635,2.635,0,0,1,1111.91,600.993Zm0.66-7.994h3.86c1.09,0,2.57.135,2.57,1l0.01,3.463c0.14,0.838-1.72,1.539-2.93,1.539h-4.17c-1.21,0-2.07-.7-1.92-1.539l0.37-3.139A2.146,2.146,0,0,1,1112.57,593Zm11,0h3.86a2.123,2.123,0,0,1,2.2,1.325l0.38,3.139c0.14,0.838-.72,1.539-1.93,1.539h-5.17c-1.21,0-2.07-.7-1.92-1.539L1121,594C1121,593.1,1122.48,593,1123.57,593Z" transform="translate(-1108 -593)"/>
                  </svg>
                            <span class="figure">3</span>
                                  </div>
                    </div>
                          <div class="rh_prop_card__meta">
                                    <span class="rhea_meta_titles">Bathrooms</span>
                                  <div class="rhea_meta_icon_wrapper">
                  <svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="23.69" height="24" viewBox="0 0 23.69 24">
                  <path d="M1204,601a8,8,0,0,1,16,0v16h-2V601a6,6,0,0,0-12,0v1h-2v-1Zm7,6a6,6,0,0,0-12,0h12Zm-6,2a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,609Zm0,5a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,614Zm4.94-5.343a1,1,0,0,1,1.28.6l0.69,0.878a1,1,0,0,1-1.88.685l-0.69-.879A1,1,0,0,1,1209.94,608.657Zm2.05,4.638a1,1,0,0,1,1.28.6l0.35,0.94a1.008,1.008,0,0,1-.6,1.282,1,1,0,0,1-1.28-.6l-0.35-.939A1.008,1.008,0,0,1,1211.99,613.295Zm-11.93-4.638a1,1,0,0,1,.6,1.282l-0.69.879a1,1,0,1,1-1.87-.682l0.68-.88A1,1,0,0,1,1200.06,608.657Zm-2.05,4.639a1,1,0,0,1,.6,1.281l-0.34.941a1,1,0,0,1-1.88-.683l0.34-.94A1,1,0,0,1,1198.01,613.3Z" transform="translate(-1196.31 -593)"/>
                  </svg>
                            <span class="figure">4</span>
                                  </div>
                    </div>
                          <div class="rh_prop_card__meta">
                                    <span class="rhea_meta_titles">Area</span>
                                  <div class="rhea_meta_icon_wrapper">
                  <svg class="rh_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                  <g>
                  <circle cx="2" cy="2" r="2"/>
                  </g>
                  <g>
                  <circle cx="2" cy="22" r="2"/>
                  </g>
                  <g>
                  <circle cx="22" cy="2" r="2"/>
                  </g>
                  <rect x="1" y="1" width="2" height="22"/>
                  <rect x="1" y="1" width="22" height="2"/>
                  <path opacity="0.5" d="M23,20.277V1h-2v19.277C20.7,20.452,20.452,20.7,20.277,21H1v2h19.277c0.347,0.596,0.984,1,1.723,1
                  c1.104,0,2-0.896,2-2C24,21.262,23.596,20.624,23,20.277z"/>
                  </svg>
                            <span class="figure">4530</span>
                                          <span class="label">Sq Ft</span>
                                  </div>
                    </div>
                  </div>
                  
                                            </div>
                  
                                            <div class="rh_prop_card__priceLabel ">
                                                <div class="rhea_property_price_box">
                                                    <span class="rh_prop_card__status">
                                                        For Sale                                            </span>
                                                    <p class="rh_prop_card__price">
                                 $740,000                                             </p>
                  
                                                </div>
                                                                </div>
                  
                                        </div>
                  
                                    </div>
                  
                                </article>
                  
                            </div> -->




                                  </div>                <div class="rhea_svg_loader">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="#dedede">
                  <path transform="translate(2)" d="M0 12 V20 H4 V12z"> 
                  <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
                  </path>
                  <path transform="translate(8)" d="M0 12 V20 H4 V12z">
                  <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.2" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
                  </path>
                  <path transform="translate(14)" d="M0 12 V20 H4 V12z">
                  <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.4" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
                  </path>
                  <path transform="translate(20)" d="M0 12 V20 H4 V12z">
                  <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.6" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
                  </path>
                  <path transform="translate(26)" d="M0 12 V20 H4 V12z">
                  <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.8" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
                  </path>
                  </svg>
                        </div>
                  <div class='rhea_pagination_wrapper'><div class='pagination rhea-pagination-clean' id="pagination">
                    
                  </div></div>        </div>
                  </div>
                  </div>
                  <!-- /.rh_prop_card -->
                  </section>
                  </div>
                  </div>
                    </div>
                  </div>
                  </div>
                        </div>
                  </div>
                  </section>
                  <script>
                    // Function to animate the elements
                    function animateElements() {
                      const elements = document.querySelectorAll('.elementor-widget-container');
                      elements.forEach(element => {
                        const boundingBox = element.getBoundingClientRect();
                        const screenHeight = window.innerHeight;
                        
                        // Check if the element is in the viewport
                        if (boundingBox.top < screenHeight) {
                          element.style.opacity = 1;
                          element.style.transform = 'translateY(0)';
                        }
                      });
                    }
                  
                    // Add event listener to call the animation function on scroll
                    window.addEventListener('scroll', animateElements);
                  
                    // Call the animation function initially
                    animateElements();
                  </script>    
    
                 
    <section
class="elementor-section elementor-top-section elementor-element elementor-element-3461643 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
data-id="3461643"
data-element_type="section"
data-settings='{"stretch_section":"section-stretched","background_background":"classic","shape_divider_bottom":"tilt"}'
>
<div
  class="elementor-shape elementor-shape-bottom"
  data-negative="false"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 100"
    preserveAspectRatio="none"
  >
    <path
      class="elementor-shape-fill"
      d="M0,6V0h1000v100L0,6z"
    />
  </svg>
</div>
<div
  class="elementor-container elementor-column-gap-default"
>
  <div class="elementor-row">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-98f4818"
      data-id="98f4818"
      data-element_type="column"
    >
      <div
        class="elementor-column-wrap elementor-element-populated"
      >
        <div class="elementor-widget-wrap">
          <div
            class="elementor-element elementor-element-3a071f2 elementor-widget elementor-widget-ere-section-title-widget"
            data-id="3a071f2"
            data-element_type="widget"
            data-widget_type="ere-section-title-widget.default"
          >
            <div class="elementor-widget-container">
              <div
                class="rh_elementor_widget re_section_head_elementor"
              >
                <span class="rh_section__subtitle"
                  >Check out</span
                >

                <h2 class="rh_section__title">
                  For Sale Properties
                </h2>

                <p class="rh_section__desc">
                  View list of our short listed properties
                </p>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-badee23 elementor-widget elementor-widget-ere-featured-properties-widget"
            data-id="badee23"
            data-element_type="widget"
            data-widget_type="ere-featured-properties-widget.default"
          >
            <div class="elementor-widget-container">
              <section
                class="rh_elementor_widget rh_wrapper--featured_elementor"
                data-slideshow="false"
                data-slideshow-speed="2000"
                data-animation-speed="1000"
                data-animation-type="fade"
              >
                <div
                  class="rh_section__featured rh_section__featured_elementor clearfix"
                >
                  <div class="flexslider loading">
                    <ul class="slides" id="featuredslides">
                     
                    </ul>
                  </div>
                  <div class="rh_flexslider__nav_elementor">
                    <a
                      href="#"
                      class="flex-prev rh_flexslider__prev nav-mod"
                    >
                      <svg
                        height="40"
                        viewBox="0 0 48 48"
                        width="40"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M30.83 32.67l-9.17-9.17 9.17-9.17-2.83-2.83-12 12 12 12z"
                        />
                        <path
                          d="M0-.5h48v48h-48z"
                          fill="none"
                        />
                      </svg>
                    </a>
                    <a
                      href="#"
                      class="flex-next rh_flexslider__next nav-mod"
                    >
                      <svg
                        height="40"
                        viewBox="0 0 48 48"
                        width="40"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M17.17 32.92l9.17-9.17-9.17-9.17 2.83-2.83 12 12-12 12z"
                        />
                        <path
                          d="M0-.25h48v48h-48z"
                          fill="none"
                        />
                      </svg>
                    </a>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
                  <!--  Section  Name -->
    
                  <%- include('./components/sectionnames.ejs', { 
                    sectionName: "Random Properties", 
                    title: "Other Properties", 
                    description: "Checkout out other properties" 
                  }) -%>
    <!--  Properties  For sale -->
    
    <section class="elementor-section elementor-top-section elementor-element elementor-element-7ce6891 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7ce6891" data-element_type="section">
      <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d0c1a8d" data-id="d0c1a8d" data-element_type="column">
    <div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
      <div class="elementor-element elementor-element-dae41ae elementor-widget elementor-widget-rhea-properties-widget" data-id="dae41ae" data-element_type="widget" data-widget_type="rhea-properties-widget.default">
    <div class="elementor-widget-container">
        <section id="rh-dae41ae" class="rh_elementor_widget rh_latest-properties rhea_properties_default rhea_ele_property_ajax_target rhea_latest_properties_ajax elementor_properties_grid elementor_property_card_parent rhea_has_tooltip">
      
    <div class="container-latest-properties">
    <div class="wrapper-section-contents">
    <div class="home-properties-section-inner home-properties-section-inner-target">
                <div class="rh_properties_element rh_properties_pagination_append" id="forsalediv">
                 



                    </div>                <div class="rhea_svg_loader">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="#dedede">
    <path transform="translate(2)" d="M0 12 V20 H4 V12z"> 
    <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
    </path>
    <path transform="translate(8)" d="M0 12 V20 H4 V12z">
    <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.2" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
    </path>
    <path transform="translate(14)" d="M0 12 V20 H4 V12z">
    <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.4" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
    </path>
    <path transform="translate(20)" d="M0 12 V20 H4 V12z">
    <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.6" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
    </path>
    <path transform="translate(26)" d="M0 12 V20 H4 V12z">
    <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.8" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
    </path>
    </svg>
          </div>
          </div>
    </div>
    </div>
    <!-- /.rh_prop_card -->
    </section>
    </div>
    </div>
      </div>
    </div>
    </div>
          </div>
    </div>
    </section>                  <!-- Properties  For sale -->
    <%- include('./components/sectionnames.ejs', { 
      sectionName: "Locations", 
      title: "List Of Locations", 
      description: "Checkout our properties in purticular locations", 
    }) -%>

                  <section class="elementor-section elementor-top-section elementor-element elementor-element-10eaad0 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="10eaad0" data-element_type="section" style="margin-bottom: 100px;">
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                  <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f73cbf9" data-id="f73cbf9" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-fd6d663 elementor-widget elementor-widget-rhea-properties-cities-widget" data-id="fd6d663" data-element_type="widget" data-widget_type="rhea-properties-cities-widget.default">
                <div class="elementor-widget-container">
                          <div class="rhea_properties_cities_wrapper default" id="places">

                            <% for(let cities of location){%>
                              <div class="rhea_property_city">
                                <a class="rhea_property_city_inner" style="flex-direction: column" href="/location/<%=cities.name%>"><span class="rhea_pc_layer_still" style="background-image: url('https://www.safehomes.ae/<%= cities.imagePaths %>')"></span>
                                    <span class="rhea_pc_layer"></span><h3 class="rhea_city_title"><%=cities.name%></h3><span class="rhea_pc_counter" style="align-self: flex-end"><span class="rhea_pc_count"></span></span></a></div>
                                    <%}%>
                                   
                    </div>
              
        
                </div>
                </div>
                    </div>
                  </div>
            </div>
                        </div>
                  </div>
            </section>     
               
              
            <section
            class="elementor-section elementor-top-section elementor-element elementor-element-576f89ac elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
            data-id="576f89ac"
            data-element_type="section"
            data-settings='{"stretch_section":"section-stretched","shape_divider_top":"tilt","shape_divider_bottom":"tilt"}'
          >
            <div
              class="elementor-shape elementor-shape-top"
              data-negative="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1000 100"
                preserveAspectRatio="none"
              >
                <path
                  class="elementor-shape-fill"
                  d="M0,6V0h1000v100L0,6z"
                />
              </svg>
            </div>
            <div
              class="elementor-shape elementor-shape-bottom"
              data-negative="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1000 100"
                preserveAspectRatio="none"
              >
                <path
                  class="elementor-shape-fill"
                  d="M0,6V0h1000v100L0,6z"
                />
              </svg>
            </div>
            <div class="elementor-container elementor-column-gap-no">
              <div class="elementor-row">
                <div
                  class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-77d3ec2d"
                  data-id="77d3ec2d"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-4da04955 elementor-widget elementor-widget-ere-cta-two-widget"
                        data-id="4da04955"
                        data-element_type="widget"
                        data-widget_type="ere-cta-two-widget.default"
                      >
                        <div class="elementor-widget-container">
                          <section
                            class="rh_elementor_widget rh_section__cta_elementor_two rh_cta--featured_elementor ere_cta_parallax"
                            style="
                              background-size: cover;
                              background-image: url(../frontend/wp-content/uploads/2019/07/cta-above-footer.jpg);
                            "
                          >
                            <div class="elementor_overlay_cta_1"></div>
                            <div
                              class="wrapper-section-contents_elementor"
                            >
                              <div class="rh_cta__wrap_elementor">
                                <p class="rh_cta__title">
                                  Looking for More?
                                </p>

                                <h3 class="rh_cta__quote">
                                  Talk to our experts or Browse through
                                  more properties.
                                </h3>

                                <div class="rh_cta__btns_elementor_two">
                                  <a
                                    href="/contact"
                                    class="cta_two_elementor_first_button cta_two_elementor_button"
                                    >Get In Touch</a
                                  >

                                 
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
               
                  <%- include('./components/sectionnames.ejs', { 
                    sectionName: "Building Types", 
                    title: "List Of Building Types", 
                    description: "Checkout our properties in purticular building types", 
                  }) -%>
                  <%- include('./components/types.ejs') -%>

                  <%- include('./components/sectionnames.ejs', { 
                    sectionName: "partners", 
                    title: "our", 
                    description: "We are honoured to have this amazing partners" 
                  }) -%>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-cb9f233 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="cb9f233"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
                  >
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c7b8186"
                          data-id="c7b8186"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-5d88aaa elementor-widget elementor-widget-ere-partners-widget"
                                data-id="5d88aaa"
                                data-element_type="widget"
                                data-widget_type="ere-partners-widget.default"
                              >
                                <div class="elementor-widget-container">
                                  <section
                                    class="rh_elementor_widget rh_wrapper_partners_elementor"
                                  >
                                    <div class="rh_section__partners_elementor">
                                      <div
                                        class="rh_partner post-118 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                      >
                                        <a
                                          
                                          href="#"
                                          title="Partner One"
                                        >
                                          <img
                                            width="124"
                                            height="55"
                                            src="../frontend/wp-content/uploads/2017/06/one.png"
                                            class="attachment-partners-logo size-partners-logo wp-post-image"
                                            alt=""
                                            decoding="async"
                                            loading="lazy"
                                          />
                                        </a>
                                      </div>
                                      <div
                                        class="rh_partner post-116 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                      >
                                        <a
                                          
                                          href="#"
                                          title="Partner Two"
                                        >
                                        <img
                                        width="124"
                                        height="55"
                                        src="../frontend/wp-content/uploads/2017/06/one.png"
                                        class="attachment-partners-logo size-partners-logo wp-post-image"
                                        alt=""
                                        decoding="async"
                                        loading="lazy"
                                      />
                                        </a>
                                      </div>
                                      <div
                                        class="rh_partner post-112 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                      >
                                        <a
                                          
                                          href="#"
                                          title="Partner Three"
                                        >
                                          <img
                                            width="136"
                                            height="70"
                                            src="../frontend/wp-content/uploads/2017/06/three.png"
                                            class="attachment-partners-logo size-partners-logo wp-post-image"
                                            alt=""
                                            decoding="async"
                                            loading="lazy"
                                          />
                                        </a>
                                      </div>
                                      <div
                                        class="rh_partner post-120 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                      >
                                        <a
                                          
                                          href="#"
                                          title="Partner Four"
                                        >
                                          <img
                                            width="140"
                                            height="69"
                                            src="../frontend/wp-content/uploads/2017/06/four.png"
                                            class="attachment-partners-logo size-partners-logo wp-post-image"
                                            alt=""
                                            decoding="async"
                                            loading="lazy"
                                          />
                                        </a>
                                      </div>
                                      <div
                                        class="rh_partner post-124 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                      >
                                        <a
                                          
                                          href="#"
                                          title="Partner Five"
                                        >
                                        <img
                                        width="124"
                                        height="55"
                                        src="../frontend/wp-content/uploads/2017/06/one.png"
                                        class="attachment-partners-logo size-partners-logo wp-post-image"
                                        alt=""
                                        decoding="async"
                                        loading="lazy"
                                      />
                                        </a>
                                      </div>
                                    </div>
                                  </section>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
      
      <%- include('./components/footer.ejs') -%>
      <div id="myModal" class="modal">
        <div class="modal-content">

          <section id="ere_widget_contact_form-4" class="widget clearfix ere_widget_contact_form" style="background-color: #ffffff;padding: 20px;border-radius: 10px;"><div class="title-container">
            <h3 class="title">Contact Us</h3>
            <span class="close-button" onclick="closeModal()">&times;</span>
          </div>          
            <div class="ere-contact-form-container rh-ultra-form">
            <form class="ere-contact-form"  id="contactform">
      <p><label for="name_ere_widget_contact_form-4">Name</label><input type="text" name="name" id="name_ere_widget_contact_form-4" class="required" title="* Please provide your name"></p><p><label for="email_ere_widget_contact_form-4">Email</label><input type="text" name="email" id="email_ere_widget_contact_form-4" class="email required" title="* Please provide a valid email address"></p><p><label for="number_ere_widget_contact_form-4">Phone Number</label><input type="text" name="number" id="number_ere_widget_contact_form-4"  ></p><p><label for="message_ere_widget_contact_form-4">Message</label><textarea name="message" id="message_ere_widget_contact_form-4" class="required" title="* Please provide your message" cols="40" rows="5"></textarea></p><p class="rh_inspiry_gdpr clearfix"><span class="gdpr-checkbox-label">GDPR Agreement <span class="required-label">*</span></span><input type="checkbox" name="gdpr" id="inspiry-gdpr" class="required" value="I consent to having this website store my submitted information so they can respond to my inquiry." title="* Please accept GDPR agreement"><label for="inspiry-gdpr">I consent to having this website store my submitted information so they can respond to my inquiry.</label></p>                                    <div class="inspiry-recaptcha-wrapper clearfix g-recaptcha-type-v3">
                                    <div class="inspiry-google-recaptcha"></div>
                                </div>
                                  <div class="ere-submit-button-container">
                                    <button type="submit" form="contactform" class="rh_btn rh_btn--primary" id="submitform">Submit </button>
                                        
                                        </div>
                <div class="error-container" id="error-container"></div>
                <div class="message-container" id="message-container"></div>
            </form>
        </div>
  </section>  
        </div>
      </div>
    </div>
    <a href="#top" id="scroll-top" class="stp_right"
      ><i class="fas fa-chevron-up"></i
    ></a>
 
    <script>
      // Function to open the modal
      function openModal() {
        document.getElementById("myModal").style.display = "block";
      }
    
      // Function to close the modal
      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }
    
      // Wait for 20 seconds and then open the modal
      setTimeout(openModal, 10000);
    </script>
      <script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script>
  var loc = <%- JSON.stringify(location) %>;
  var realhomesLocationsData = {
      any_text: 'Any',
      any_value: 'any',
      select_names: [
        'location',
      ],
      select_count: '1',
      locations_in_params: [],
      multi_select_locations: 'yes',
      all_locations: loc }
    


	/* ----------- START OF LOCATIONS SELECT BOXES CODE ----------- */
 

</script>
<script>

</script>
       <script
       type="text/javascript"
       src="../frontendscripts/index.js"></script>
       <script
       type="text/javascript"
       src="../frontendscripts/contactform.js"></script>
       <script>

$(document).ready(function() {
    const propertiesListing = $('#featuredpropertiesdiv');
    const forsalediv = $('#forsalediv');
    const featuredslides = $('#featuredslides');

    const paginationContainer = $('#pagination');
    // Function to make an AJAX request to the backend with pagination
    function listfeatruredproperties(page) {
        $.ajax({
            url: `https://www.safehomes.ae/listfeatruredproperties?page=${page}`,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                // Handle the response from the backend here
                // For example, update the HTML to display the property listings
                if (response && response.properties) {
                    propertiesListing.empty();
                    response.properties.forEach((property) => {
                        propertiesListing.append(layout(property));
                       
                    });

                    // Create pagination links
                    paginationContainer.empty();
                    for (let i = 1; i <= response.totalPages; i++) {
                        const activeClass = response.currentPage === i ? 'current' : '';
                        paginationContainer.append(`<a class="rh_pagination__btn ${activeClass}" href="#" data-page="${i}">${i}</a>`);
                    }
                }
            },
            error: function(error) {
                console.error('Error fetching properties:', error);
            }
        });
    }
   async function listofforsale() {
        $.ajax({
            url: `https://www.safehomes.ae/miniforsale`,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
              console.log(response)
                // Handle the response from the backend here
                // For example, update the HTML to display the property listings
                if (response && response.properties) {
                    response.properties.forEach(async(property) => {
                      console.log(property)

                      await featuredslides.append(slides(property));

                    });
                  }
                    // Create pagination links
                 
              
            },
            error: function(error) {
              console.log(error)
                console.error('Error fetching properties:', error);
            }
        });
    }
    function listallrandom() {
        $.ajax({
            url: `https://www.safehomes.ae/listallrandom`,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                // Handle the response from the backend here
                // For example, update the HTML to display the property listings
                if (response && response.properties) {
                  forsalediv.empty();
                    response.properties.forEach((property) => {
                      forsalediv.append(layout(property));
                    });
                  }
                    // Create pagination links
                 
              
            },
            error: function(error) {
                console.error('Error fetching properties:', error);
            }
        });
    }

    // Call the fetchProperties function with page 1 and the initial sortproperties value on page load
    listofforsale()
    listallrandom()
    listfeatruredproperties(1);
        $('.inspiry_show_on_doc_ready').show();

   
    // Handle sortproperties change event
 
 // Default property type

});
function layout(property){
      return ` <%- include('./components/cardsection.ejs', {
                               image: '${property.file[0]}',
                                propertyname: '${property.plName}',
                                propertydetails: '${property.plShort}',
                                bedrooms: '${property.plBedrooms}',
                                bathrooms: '${property.plBathrooms}',
                                area: '${property.plTotalArea}',
                                price: '${property.plExpeactedPrice}',
                                propertyid:'${property._id}',
                                saletype:'${property.plPropertySaleRent}'
                            }) -%>`
    }
    function slides(property){
console.log('appending slides : '+property)
      return ` <%- include('./components/featuredslide.ejs', {
                               image: '${property.file[0]}',
                                propertyname: '${property.plName}',
                                propertydetails: '${property.plShort}',
                                bedrooms: '${property.plBedrooms}',
                                bathrooms: '${property.plBathrooms}',
                                area: '${property.plTotalArea}',
                                price: '${property.plExpeactedPrice}',
                                propertyid:'${property._id}',
                                saletype:'${property.plPropertySaleRent}',

                            }) -%>`
    }
       </script>
    <%- include('./includes/end.ejs') -%>
