<%- include('./includes/head.ejs') -%>
<%- include('./includes/menu.ejs') -%>


      <!-- Slider -->
      <%- include('./components/slider.ejs') -%>

      <!-- End Slider -->
        <%- include('./components/searcher.ejs') -%>
        <script>
          // Function to animate the elements
          function animateElements() {
            const elements = document.querySelectorAll('.elementor-widget-container');
            elements.forEach(element => {
              const boundingBox = element.getBoundingClientRect();
              const screenHeight = window.innerHeight;
              
              // Check if the element is in the viewport
              if (boundingBox.top < screenHeight) {
                element.style.opacity = 1;
                element.style.transform = 'translateY(0)';
              }
            });
          }
        
          // Add event listener to call the animation function on scroll
          window.addEventListener('scroll', animateElements);
        
          // Call the animation function initially
          animateElements();
        </script> 
      <!-- /.rh_prop_search -->
      <div class="wrapper-home-sections diagonal-mod-wrapper">
        <section
          class="rh_section diagonal-mod rh_section__content rh_section--content_padding"
        >
          <article id="post-7072" class="rh_content">
            <div
              data-elementor-type="wp-post"
              data-elementor-id="7072"
              class="elementor elementor-7072"
            >
              <div class="elementor-inner">
                <div class="elementor-section-wrap">
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-17c75739 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="17c75739"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched"}'
                  >
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-201c6dc4"
                          data-id="201c6dc4"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-4ff3a838 elementor-widget elementor-widget-ere-section-title-widget"
                                data-id="4ff3a838"
                                data-element_type="widget"
                                data-widget_type="ere-section-title-widget.default"
                              >
                                <div class="elementor-widget-container">
                                  <div
                                    class="rh_elementor_widget re_section_head_elementor"
                                  >
                                    <span class="rh_section__subtitle"
                                      >Checkout</span
                                    >

                                    <h2 class="rh_section__title">
                                      Feature Properties
                                    </h2>

                                    <p class="rh_section__desc">
                                      Checkout our featured properties.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-416b3928 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="416b3928"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched","shape_divider_bottom":"tilt"}'
                  >
                    <div
                      class="elementor-shape elementor-shape-bottom"
                      data-negative="false"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 1000 100"
                        preserveAspectRatio="none"
                      >
                        <path
                          class="elementor-shape-fill"
                          d="M0,6V0h1000v100L0,6z"
                        />
                      </svg>
                    </div>
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4d38dc06"
                          data-id="4d38dc06"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-6949035 elementor-widget elementor-widget-rhea-properties-widget-2"
                                data-id="6949035"
                                data-element_type="widget"
                                data-widget_type="rhea-properties-widget-2.default"
                              >
                                <div class="elementor-widget-container">
                                  <section
                                    id="rh-6949035"
                                    class="rh_elementor_widget rhea_ele_property_ajax_target rhea_latest_properties_ajax rhea_has_tooltip"
                                  >
                                    <div
                                      class="home-properties-section-inner-target"
                                    >
                                      <div
                                        class="rh_properties_pagination_append rhea_latest_properties_2"
                                        id="featuredpropertiesdiv"
                                      >
                                      </div>

                                      <div class="rhea_svg_loader">
                                        <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 32 32"
                                          width="32"
                                          height="32"
                                          fill="#dedede"
                                        >
                                          <path
                                            transform="translate(2)"
                                            d="M0 12 V20 H4 V12z"
                                          >
                                            <animate
                                              attributeName="d"
                                              values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z"
                                              dur="1.2s"
                                              repeatCount="indefinite"
                                              begin="0"
                                              keytimes="0;.2;.5;1"
                                              keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8"
                                              calcMode="spline"
                                            />
                                          </path>
                                          <path
                                            transform="translate(8)"
                                            d="M0 12 V20 H4 V12z"
                                          >
                                            <animate
                                              attributeName="d"
                                              values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z"
                                              dur="1.2s"
                                              repeatCount="indefinite"
                                              begin="0.2"
                                              keytimes="0;.2;.5;1"
                                              keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8"
                                              calcMode="spline"
                                            />
                                          </path>
                                          <path
                                            transform="translate(14)"
                                            d="M0 12 V20 H4 V12z"
                                          >
                                            <animate
                                              attributeName="d"
                                              values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z"
                                              dur="1.2s"
                                              repeatCount="indefinite"
                                              begin="0.4"
                                              keytimes="0;.2;.5;1"
                                              keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8"
                                              calcMode="spline"
                                            />
                                          </path>
                                          <path
                                            transform="translate(20)"
                                            d="M0 12 V20 H4 V12z"
                                          >
                                            <animate
                                              attributeName="d"
                                              values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z"
                                              dur="1.2s"
                                              repeatCount="indefinite"
                                              begin="0.6"
                                              keytimes="0;.2;.5;1"
                                              keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8"
                                              calcMode="spline"
                                            />
                                          </path>
                                          <path
                                            transform="translate(26)"
                                            d="M0 12 V20 H4 V12z"
                                          >
                                            <animate
                                              attributeName="d"
                                              values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z"
                                              dur="1.2s"
                                              repeatCount="indefinite"
                                              begin="0.8"
                                              keytimes="0;.2;.5;1"
                                              keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8"
                                              calcMode="spline"
                                            />
                                          </path>
                                        </svg>
                                      </div>
                                      <div class="rhea_pagination_wrapper">
                                        <div class='pagination rhea-pagination-clean' id="pagination">
                    
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-3461643 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="3461643"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched","background_background":"classic","shape_divider_bottom":"tilt"}'
                  >
                    <div
                      class="elementor-shape elementor-shape-bottom"
                      data-negative="false"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 1000 100"
                        preserveAspectRatio="none"
                      >
                        <path
                          class="elementor-shape-fill"
                          d="M0,6V0h1000v100L0,6z"
                        />
                      </svg>
                    </div>
                    <div
                      class="elementor-container elementor-column-gap-default"
                    >
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-98f4818"
                          data-id="98f4818"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-3a071f2 elementor-widget elementor-widget-ere-section-title-widget"
                                data-id="3a071f2"
                                data-element_type="widget"
                                data-widget_type="ere-section-title-widget.default"
                              >
                                <div class="elementor-widget-container">
                                  <div
                                    class="rh_elementor_widget re_section_head_elementor"
                                  >
                                    <span class="rh_section__subtitle"
                                      >Check out</span
                                    >

                                    <h2 class="rh_section__title">
                                      Featured Properties
                                    </h2>

                                    <p class="rh_section__desc">
                                      View list of our short listed properties
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="elementor-element elementor-element-badee23 elementor-widget elementor-widget-ere-featured-properties-widget"
                                data-id="badee23"
                                data-element_type="widget"
                                data-widget_type="ere-featured-properties-widget.default"
                              >
                                <div class="elementor-widget-container">
                                  <section
                                    class="rh_elementor_widget rh_wrapper--featured_elementor"
                                    data-slideshow="false"
                                    data-slideshow-speed="2000"
                                    data-animation-speed="1000"
                                    data-animation-type="fade"
                                  >
                                    <div
                                      class="rh_section__featured rh_section__featured_elementor clearfix"
                                    >
                                      <div class="flexslider loading">
                                        <ul class="slides">

                                          <% for(let doc of featured){ %>
                                            <%- include('./components/featuredslide.ejs', {
                                                image: doc.file[0],
                                                propertyname: doc.plName,
                                                propertydetails: doc.plShort,
                                                bedrooms: doc.plBedrooms,
                                                bathrooms: doc.plBathrooms,
                                                area: doc.plTotalArea,
                                                price: doc.plExpeactedPrice,
                                                propertyid: doc._id,
                                                saletype: doc.plPropertySaleRent,
                                                location: doc.plCountry
                                            }) %>
                                        <% } %>
                                        
                                           
                                       

                                        </ul>
                                      </div>
                                      <div class="rh_flexslider__nav_elementor">
                                        <a
                                          href="#"
                                          class="flex-prev rh_flexslider__prev nav-mod"
                                        >
                                          <svg
                                            height="40"
                                            viewBox="0 0 48 48"
                                            width="40"
                                            xmlns="http://www.w3.org/2000/svg"
                                          >
                                            <path
                                              d="M30.83 32.67l-9.17-9.17 9.17-9.17-2.83-2.83-12 12 12 12z"
                                            />
                                            <path
                                              d="M0-.5h48v48h-48z"
                                              fill="none"
                                            />
                                          </svg>
                                        </a>
                                        <a
                                          href="#"
                                          class="flex-next rh_flexslider__next nav-mod"
                                        >
                                          <svg
                                            height="40"
                                            viewBox="0 0 48 48"
                                            width="40"
                                            xmlns="http://www.w3.org/2000/svg"
                                          >
                                            <path
                                              d="M17.17 32.92l9.17-9.17-9.17-9.17 2.83-2.83 12 12-12 12z"
                                            />
                                            <path
                                              d="M0-.25h48v48h-48z"
                                              fill="none"
                                            />
                                          </svg>
                                        </a>
                                      </div>
                                    </div>
                                  </section>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-da7a43f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                    data-id="da7a43f"
                    data-element_type="section"
                  >
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f5732ca"
                          data-id="f5732ca"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-6fc0208 elementor-widget elementor-widget-ere-section-title-widget"
                                data-id="6fc0208"
                                data-element_type="widget"
                                data-widget_type="ere-section-title-widget.default"
                              >
                                <div class="elementor-widget-container">
                                  <div
                                    class="rh_elementor_widget re_section_head_elementor"
                                  >
                                    <span class="rh_section__subtitle"
                                      >Properties</span
                                    >

                                    <h2 class="rh_section__title">Other Properties</h2>

                                    <p class="rh_section__desc">
                                      Check detailed pages to view more.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-b94fde3 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="b94fde3"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched"}'
                  >
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5803688"
                          data-id="5803688"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-a076291 elementor-widget elementor-widget-rhea-properties-widget-3"
                                data-id="a076291"
                                data-element_type="widget"
                                data-widget_type="rhea-properties-widget-3.default"
                              >
                                <div class="elementor-widget-container">
                                  <section
                                    id="rh-a076291"
                                    class="rh_elementor_widget rhea_ele_property_ajax_target rhea_latest_properties_ajax rhea_has_tooltip"
                                  >
                                    <div
                                      class="home-properties-section-inner-target"
                                    >
                                      <div
                                        class="rh_properties_pagination_append rhea_latest_properties_2"
                                        id="forsalediv"
                                      >
                                       
                                      </div>

                                      <div class="rhea_svg_loader">
                                        <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 32 32"
                                          width="32"
                                          height="32"
                                          fill="#dedede"
                                        >
                                          <path
                                            transform="translate(2)"
                                            d="M0 12 V20 H4 V12z"
                                          >
                                            <animate
                                              attributeName="d"
                                              values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z"
                                              dur="1.2s"
                                              repeatCount="indefinite"
                                              begin="0"
                                              keytimes="0;.2;.5;1"
                                              keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8"
                                              calcMode="spline"
                                            />
                                          </path>
                                          <path
                                            transform="translate(8)"
                                            d="M0 12 V20 H4 V12z"
                                          >
                                            <animate
                                              attributeName="d"
                                              values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z"
                                              dur="1.2s"
                                              repeatCount="indefinite"
                                              begin="0.2"
                                              keytimes="0;.2;.5;1"
                                              keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8"
                                              calcMode="spline"
                                            />
                                          </path>
                                          <path
                                            transform="translate(14)"
                                            d="M0 12 V20 H4 V12z"
                                          >
                                            <animate
                                              attributeName="d"
                                              values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z"
                                              dur="1.2s"
                                              repeatCount="indefinite"
                                              begin="0.4"
                                              keytimes="0;.2;.5;1"
                                              keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8"
                                              calcMode="spline"
                                            />
                                          </path>
                                          <path
                                            transform="translate(20)"
                                            d="M0 12 V20 H4 V12z"
                                          >
                                            <animate
                                              attributeName="d"
                                              values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z"
                                              dur="1.2s"
                                              repeatCount="indefinite"
                                              begin="0.6"
                                              keytimes="0;.2;.5;1"
                                              keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8"
                                              calcMode="spline"
                                            />
                                          </path>
                                          <path
                                            transform="translate(26)"
                                            d="M0 12 V20 H4 V12z"
                                          >
                                            <animate
                                              attributeName="d"
                                              values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z"
                                              dur="1.2s"
                                              repeatCount="indefinite"
                                              begin="0.8"
                                              keytimes="0;.2;.5;1"
                                              keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8"
                                              calcMode="spline"
                                            />
                                          </path>
                                        </svg>
                                      </div>
                                    
                                    </div>
                                  </section>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-7ec9589a elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="7ec9589a"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched","background_background":"classic","shape_divider_top":"tilt"}'
                  >
                    <div
                      class="elementor-shape elementor-shape-top"
                      data-negative="false"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 1000 100"
                        preserveAspectRatio="none"
                      >
                        <path
                          class="elementor-shape-fill"
                          d="M0,6V0h1000v100L0,6z"
                        />
                      </svg>
                    </div>
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4a393a44"
                          data-id="4a393a44"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-342be545 elementor-widget elementor-widget-spacer"
                                data-id="342be545"
                                data-element_type="widget"
                                data-widget_type="spacer.default"
                              >
                                <div class="elementor-widget-container">
                                  <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="elementor-element elementor-element-1193ac62 elementor-widget elementor-widget-ere-section-title-widget"
                                data-id="1193ac62"
                                data-element_type="widget"
                                data-widget_type="ere-section-title-widget.default"
                              >
                                <div class="elementor-widget-container">
                                  <div
                                    class="rh_elementor_widget re_section_head_elementor"
                                  >
                                    <span class="rh_section__subtitle"
                                      >Properties</span
                                    >

                                    <h2 class="rh_section__title">For Sale</h2>

                                    <p class="rh_section__desc">
                                      Check out latest properties for sale.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-490cae60 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="490cae60"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
                  >
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-289b5665"
                          data-id="289b5665"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-3fd2521 elementor-widget elementor-widget-rhea-properties-widget"
                                data-id="3fd2521"
                                data-element_type="widget"
                                data-widget_type="rhea-properties-widget.default"
                              >
                                <div class="elementor-widget-container">
                                  <section
                                    id="rh-3fd2521"
                                    class="rh_elementor_widget rh_latest-properties rhea_properties_default rhea_ele_property_ajax_target rhea_latest_properties_ajax elementor_properties_grid elementor_property_card_parent rhea_has_tooltip"
                                  >
                                    <div class="container-latest-properties">
                                      <div class="wrapper-section-contents">
                                        <div
                                          class="home-properties-section-inner home-properties-section-inner-target"
                                        >
                                          <div
                                            class="rh_properties_element rh_properties_pagination_append"
                                            id="salesdiv"
                                          >
                                          <div>No properties</div>

                                          </div>

                                       
                                        </div>
                                      </div>
                                    </div>
                                    <!-- /.rh_prop_card -->
                                  </section>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
             
               
           
        
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-4d2329e5 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                    data-id="4d2329e5"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
                  >
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2890d426"
                          data-id="2890d426"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-6df40fbd elementor-widget elementor-widget-spacer"
                                data-id="6df40fbd"
                                data-element_type="widget"
                                data-widget_type="spacer.default"
                              >
                                <div class="elementor-widget-container">
                                  <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-576f89ac elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                    data-id="576f89ac"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched","shape_divider_top":"tilt","shape_divider_bottom":"tilt"}'
                  >
                    <div
                      class="elementor-shape elementor-shape-top"
                      data-negative="false"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 1000 100"
                        preserveAspectRatio="none"
                      >
                        <path
                          class="elementor-shape-fill"
                          d="M0,6V0h1000v100L0,6z"
                        />
                      </svg>
                    </div>
                    <div
                      class="elementor-shape elementor-shape-bottom"
                      data-negative="false"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 1000 100"
                        preserveAspectRatio="none"
                      >
                        <path
                          class="elementor-shape-fill"
                          d="M0,6V0h1000v100L0,6z"
                        />
                      </svg>
                    </div>
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-77d3ec2d"
                          data-id="77d3ec2d"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-4da04955 elementor-widget elementor-widget-ere-cta-two-widget"
                                data-id="4da04955"
                                data-element_type="widget"
                                data-widget_type="ere-cta-two-widget.default"
                              >
                                <div class="elementor-widget-container">
                                  <section
                                    class="rh_elementor_widget rh_section__cta_elementor_two rh_cta--featured_elementor ere_cta_parallax"
                                    style="
                                    background-size: cover;
                                    background-image: url(/assets/img/dubai.jpeg);
                                  "
                                  >
                                    <div class="elementor_overlay_cta_1"></div>
                                    <div
                                      class="wrapper-section-contents_elementor"
                                    >
                                      <div class="rh_cta__wrap_elementor">
                                        <p class="rh_cta__title">
                                          Looking for More?
                                        </p>

                                        <h3 class="rh_cta__quote">
                                          Talk to our experts or Browse through
                                          more properties.
                                        </h3>

                                        <div class="rh_cta__btns_elementor_two">
                                          <a
                                            href="/contact"
                                            class="cta_two_elementor_first_button cta_two_elementor_button"
                                            >Get In Touch</a
                                          >
        
                                         
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                  <%- include('./components/sectionnames.ejs', { 
                    sectionName: "Locations", 
                    title: "List Of Locations", 
                    description: "Checkout our properties in purticular locations", 
                  }) -%>
              
                                <section class="elementor-section elementor-top-section elementor-element elementor-element-10eaad0 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="10eaad0" data-element_type="section" style="margin-bottom: 100px;">
                                  <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f73cbf9" data-id="f73cbf9" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                  <div class="elementor-element elementor-element-fd6d663 elementor-widget elementor-widget-rhea-properties-cities-widget" data-id="fd6d663" data-element_type="widget" data-widget_type="rhea-properties-cities-widget.default">
                              <div class="elementor-widget-container">
                                        <div class="rhea_properties_cities_wrapper default" id="places">
              
                                          <% for(let cities of location){%>
                                            <div class="rhea_property_city">
                                              <a class="rhea_property_city_inner" style="flex-direction: column" href="/location/<%=cities.name%>"><span class="rhea_pc_layer_still" style="background-image: url('https://www.safehomes.ae/<%= cities.imagePaths %>')"></span>
                                                  <span class="rhea_pc_layer"></span><h3 class="rhea_city_title"><%=cities.name%></h3><span class="rhea_pc_counter" style="align-self: flex-end"><span class="rhea_pc_count"></span></span></a></div>
                                                  <%}%>
                                                 
                                  </div>
                            
                      
                              </div>
                              </div>
                                  </div>
                                </div>
                          </div>
                                      </div>
                                </div>
                          </section>  
                  <%- include('./components/sectionnames.ejs', { 
                    sectionName: "Building Types", 
                    title: "List Of Building Types", 
                    description: "Checkout our properties in purticular building types", 
                  }) -%>
                  <%- include('./components/types.ejs') -%>

                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-2f92408 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="2f92408"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
                  >
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b465d9c"
                          data-id="b465d9c"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-ae48266 elementor-widget elementor-widget-ere-section-title-widget"
                                data-id="ae48266"
                                data-element_type="widget"
                                data-widget_type="ere-section-title-widget.default"
                              >
                                <div class="elementor-widget-container">
                                  <div
                                    class="rh_elementor_widget re_section_head_elementor"
                                  >
                                    <span class="rh_section__subtitle"
                                      >Our</span
                                    >

                                    <h2 class="rh_section__title">Partners</h2>

                                    <p class="rh_section__desc">
                                      We honoured to have these amazing
                                      partners.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-cb9f233 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="cb9f233"
                    data-element_type="section"
                    data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
                  >
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                      <div
                        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c7b8186"
                        data-id="c7b8186"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-5d88aaa elementor-widget elementor-widget-ere-partners-widget"
                              data-id="5d88aaa"
                              data-element_type="widget"
                              data-widget_type="ere-partners-widget.default"
                            >
                              <div class="elementor-widget-container">
                                <section
                                  class="rh_elementor_widget rh_wrapper_partners_elementor"
                                >
                                  <div class="rh_section__partners_elementor">
                                    <div
                                      class="rh_partner post-118 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                    >
                                      <a
                                        
                                        href="#"
                                        title="Partner One"
                                      >
                                        <img
                                          width="124"
                                          height="55"
                                          src="/assets/azizi.png"
                                          class="attachment-partners-logo size-partners-logo wp-post-image"
                                          alt=""
                                          decoding="async"
                                          loading="lazy"
                                        />
                                      </a>
                                    </div>
                                    <div
                                      class="rh_partner post-116 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                    >
                                      <a
                                        
                                        href="#"
                                        title="Partner Two"
                                      >
                                      <img
                                      width="124"
                                      height="55"
                                      src="/assets/emar.png"
                                      class="attachment-partners-logo size-partners-logo wp-post-image"
                                      alt=""
                                      decoding="async"
                                      loading="lazy"
                                    />
                                      </a>
                                    </div>
                                    <div
                                      class="rh_partner post-112 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                    >
                                      <a
                                        
                                        href="#"
                                        title="Partner Three"
                                      >
                                        <img
                                          width="136"
                                          height="70"
                                          src="/assets/shoba.png"
                                          class="attachment-partners-logo size-partners-logo wp-post-image"
                                          alt=""
                                          decoding="async"
                                          loading="lazy"
                                        />
                                      </a>
                                    </div>
                                    <div
                                      class="rh_partner post-120 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                    >
                                      <a
                                        
                                        href="#"
                                        title="Partner Four"
                                      >
                                        <img
                                          width="140"
                                          height="69"
                                          src="/assets/tilal.png"
                                          class="attachment-partners-logo size-partners-logo wp-post-image"
                                          alt=""
                                          decoding="async"
                                          loading="lazy"
                                        />
                                      </a>
                                    </div>
                               
                                  </div>
                                </section>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </section>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
   
      <%- include('./components/footerhome.ejs') -%>

    </div>
    <a href="#top" id="scroll-top" class="stp_right"
      ><i class="fas fa-chevron-up"></i
    ></a>
    
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>

    <script>
      var loc = <%- JSON.stringify(location) %>;
      var realhomesLocationsData = {
          any_text: 'Any',
          any_value: 'any',
          select_names: [
            'location',
          ],
          select_count: '1',
          locations_in_params: [],
          multi_select_locations: 'yes',
          all_locations: loc }
        
    
    
      /* ----------- START OF LOCATIONS SELECT BOXES CODE ----------- */
     
    
    </script>
   
           <script
           type="text/javascript"
           src="../frontendscripts/index.js"></script>
           <script
           type="text/javascript"
           src="../frontendscripts/contactform.js"></script>
           <script>
    
    $(document).ready(function() {
        const propertiesListing = $('#featuredpropertiesdiv');
        const forsalediv = $('#forsalediv');

        const salesdiv = $('#salesdiv');
    
        const paginationContainer = $('#pagination');
        // Function to make an AJAX request to the backend with pagination
        function listfeatruredproperties(page) {
            $.ajax({
                url: `https://www.safehomes.ae/listfeatruredproperties?page=${page}`,
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    // Handle the response from the backend here
                    // For example, update the HTML to display the property listings
                    if (response && response.properties) {
                        propertiesListing.empty();
                        response.properties.forEach((property,index) => {
                            propertiesListing.append(layout(property));
                           
                        });
    
                        // Create pagination links
                        paginationContainer.empty();
                        for (let i = 1; i <= response.totalPages; i++) {
                            const activeClass = response.currentPage === i ? 'current' : '';
                            paginationContainer.append(`<a class="rh_pagination__btn ${activeClass}" href="#" data-page="${i}">${i}</a>`);
                        }
                    }
                },
                error: function(error) {
                    console.error('Error fetching properties:', error);
                }
            });
        }
       function listofforsale() {
            $.ajax({
                url: `https://www.safehomes.ae/miniforsale`,
               type: 'GET',
                dataType: 'json',
                success: function(response) {
                   // Handle the response from the backend here
                    // For example, update the HTML to display the property listings
                     if (response && response.properties.length >0) {
                      salesdiv.empty();
                      

                         response.properties.forEach((property) => {
                        
                           salesdiv.append(forsalelayout(property));
    
                       });
                      }
                        // Create pagination links
                     
                  
                 },
                error: function(error) {
                 console.log(error)
                   console.error('Error fetching properties:', error);
               }
           });
        }
         function listallrandom() {
            $.ajax({
                url: `https://www.safehomes.ae/listallrandom`,
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    // Handle the response from the backend here
                    // For example, update the HTML to display the property listings
                    if (response && response.properties) {
                      forsalediv.empty();
                        response.properties.forEach((property) => {
                          forsalediv.append(layout(property));
                        });
                      }
                        // Create pagination links
                     
                  
                },
                error: function(error) {
                    console.error('Error fetching properties:', error);
                }
            });
        }
    
        listofforsale()
        listallrandom()
        listfeatruredproperties(1);
            $('.inspiry_show_on_doc_ready').show();
    
       
        // Handle sortproperties change event
     
     // Default property type
    
    });
    function layout(property){
          return ` <%- include('./components/card.ejs', {
                                   image: '${property.file[0]}',
                                    propertyname: '${property.plName}',
                                    propertydetails: '${property.plShort}',
                                    bedrooms: '${property.plBedrooms}',
                                    bathrooms: '${property.plBathrooms}',
                                    area: '${property.plTotalArea}',
                                    price: '${property.plExpeactedPrice}',
                                    propertyid:'${property._id}',
                                    saletype:'${property.plPropertySaleRent}',
                                    location: '${property.plCountry}'
                                }) -%>`
        }
        function forsalelayout(property){
          return ` <%- include('./components/forsale.ejs', {
                                   image: '${property.file[0]}',
                                    propertyname: '${property.plName}',
                                    propertydetails: '${property.plShort}',
                                    bedrooms: '${property.plBedrooms}',
                                    bathrooms: '${property.plBathrooms}',
                                    area: '${property.plTotalArea}',
                                    price: '${property.plExpeactedPrice}',
                                    propertyid:'${property._id}',
                                    saletype:'${property.plPropertySaleRent}',
                                    location: '${property.plCountry}'
                                }) -%>`
        }
       
           </script>
    <%- include('./includes/end.ejs') -%>
