<%- include('./includes/head.ejs') -%>
<%- include('./includes/menu.ejs') -%>

      <!-- Slider -->
      <%- include('./components/banner.ejs',{screenname:'About Us'}) -%>

      <!-- End Slider -->

      <!-- /.rh_prop_search -->
      <section class="rh_section rh_wrap--padding rh_wrap--topPadding">
        <div class="rh_page rh_page--fullWidth">
    <div class="rh_page__head rh_page__property">
<div class="rh_page__property_title">
<img class="only-for-print inspiry-qr-code" src="https://chart.googleapis.com/chart?cht=qr&amp;chs=90x90&amp;chl=https://modern.realhomes.io/property/home-in-merrick-way/&amp;choe=UTF-8" alt="Home in Merrick Way">		<div class="page-breadcrumbs  page-breadcrumbs-modern">
<nav class="property-breadcrumbs">
<ul>
<li>							<a href="#"><%=property.plPropertyType%></a><i class="breadcrumbs-separator fas fa-angle-right"></i></li><li>							<a href="#"><%=property.plCountry%></a></li>				</ul>
</nav>
</div>

<h1 class="rh_page__title"><%=property.plName%></h1><!-- /.rh_page__title -->

<p class="rh_page__property_address">
<%=property.plAddress%>           </p>

</div><!-- /.rh_page__property_title -->

<div class="rh_page__property_price">
<p class="status">
For <%=property.plPropertySaleRent%>            </p><!-- /.status -->
<p class="price">
<%=property.plExpeactedPrice%>        </p><!-- /.price -->
</div><!-- /.rh_page__property_price -->
</div><!-- /.rh_page__head -->      
<div class="rh_property">
    <div class="property-detail-slider-wrapper clearfix">
<div class="inspiry_property_masonry_style images_7">

</div>
</div>

                    <div class="rh_property__wrap rh_property--padding">
            <div class="rh_property__main">
                <div id="property-content" class="rh_property__content clearfix">
                                                                <div id="property-content-section-overview" class="property-content-section property-overview">
                                                                            <div class="rh_property__row rh_property__meta rh_property--borderBottom">
                                <div class="rh_property__id">
                                    <p class="title">Property ID:</p>
                                                                                                <p class="id">
                                            &nbsp;RH-2017-06                                                            </p>
                                                                                        </div>
                            </div>
                            <div class="rh_property__row rh_property__meta_wrap">
<div class="rh_property__meta prop_bedrooms">
<span class="rh_meta_titles">
Bedrooms            </span>
<div>
<svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path d="M1111.91,600.993h16.17a2.635,2.635,0,0,1,2.68,1.773l1.21,11.358a2.456,2.456,0,0,1-2.61,2.875h-18.73a2.46,2.46,0,0,1-2.61-2.875l1.21-11.358A2.635,2.635,0,0,1,1111.91,600.993Zm0.66-7.994h3.86c1.09,0,2.57.135,2.57,1l0.01,3.463c0.14,0.838-1.72,1.539-2.93,1.539h-4.17c-1.21,0-2.07-.7-1.92-1.539l0.37-3.139A2.146,2.146,0,0,1,1112.57,593Zm11,0h3.86a2.123,2.123,0,0,1,2.2,1.325l0.38,3.139c0.14,0.838-.72,1.539-1.93,1.539h-5.17c-1.21,0-2.07-.7-1.92-1.539L1121,594C1121,593.1,1122.48,593,1123.57,593Z" transform="translate(-1108 -593)"/>
</svg>                <span class="figure">3</span>
</div>
</div>
<!-- /.rh_property__meta -->

<div class="rh_property__meta prop_bathrooms">
<span class="rh_meta_titles">
Bathrooms            </span>
<div>
<svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="23.69" height="24" viewBox="0 0 23.69 24">
<path d="M1204,601a8,8,0,0,1,16,0v16h-2V601a6,6,0,0,0-12,0v1h-2v-1Zm7,6a6,6,0,0,0-12,0h12Zm-6,2a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,609Zm0,5a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,614Zm4.94-5.343a1,1,0,0,1,1.28.6l0.69,0.878a1,1,0,0,1-1.88.685l-0.69-.879A1,1,0,0,1,1209.94,608.657Zm2.05,4.638a1,1,0,0,1,1.28.6l0.35,0.94a1.008,1.008,0,0,1-.6,1.282,1,1,0,0,1-1.28-.6l-0.35-.939A1.008,1.008,0,0,1,1211.99,613.295Zm-11.93-4.638a1,1,0,0,1,.6,1.282l-0.69.879a1,1,0,1,1-1.87-.682l0.68-.88A1,1,0,0,1,1200.06,608.657Zm-2.05,4.639a1,1,0,0,1,.6,1.281l-0.34.941a1,1,0,0,1-1.88-.683l0.34-.94A1,1,0,0,1,1198.01,613.3Z" transform="translate(-1196.31 -593)"/>
</svg>
<span class="figure">3</span>
</div>
</div>
<!-- /.rh_property__meta -->

<div class="rh_property__meta prop_garages">
<span class="rh_meta_titles">
Garage            </span>
<div>
<svg class="rh_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g>
<path d="M16.277,11H7.722c-0.513,0-0.941,0.315-1.104,0.757L5,16.25v6C5,22.662,5.351,23,5.778,23h0.778
c0.427,0,0.778-0.338,0.778-0.75V21.5h9.333v0.75c0,0.412,0.35,0.75,0.777,0.75h0.778C18.649,23,19,22.662,19,22.25v-6
l-1.618-4.493C17.228,11.315,16.791,11,16.277,11z M7.875,19.25c-0.623,0-1.125-0.502-1.125-1.125S7.252,17,7.875,17
S9,17.502,9,18.125S8.498,19.25,7.875,19.25z M16.125,19.25c-0.623,0-1.125-0.502-1.125-1.125S15.502,17,16.125,17
s1.125,0.502,1.125,1.125S16.748,19.25,16.125,19.25z M6.556,15.5l1.167-3.375h8.555l1.167,3.375H6.556z"/>
<path d="M23,0h-1h-2H4H2H1C0.448,0,0,0.448,0,1v1c0,0.552,0.448,1,1,1h1v21h2V3h16v21h2V3h1c0.553,0,1-0.448,1-1V1
C24,0.448,23.553,0,23,0z"/>
<path d="M18,4H6C5.448,4,5,4.448,5,5s0.448,1,1,1h12c0.553,0,1-0.448,1-1S18.553,4,18,4z"/>
<path d="M18,7H6C5.448,7,5,7.448,5,8s0.448,1,1,1h12c0.553,0,1-0.448,1-1S18.553,7,18,7z"/>
</g>
</svg>
<span class="figure">
2				</span>
</div>
</div>
<!-- /.rh_property__meta -->
<div class="rh_property__meta prop_year_built">
<span class="rh_meta_titles">
Year Built            </span>
<div>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g class="rh_svg">
<path d="M20,2h-1V1c0-0.552-0.447-1-1-1s-1,0.448-1,1v1H7V1c0-0.552-0.447-1-1-1S5,0.448,5,1v1H4C1.794,2,0,3.794,0,6v14
c0,2.206,1.794,4,4,4h16c2.206,0,4-1.794,4-4V6C24,3.794,22.206,2,20,2z M22,20c0,1.104-0.896,2-2,2H4c-1.104,0-2-0.896-2-2V6
c0-1.104,0.896-2,2-2h1v1c0,0.552,0.447,1,1,1s1-0.448,1-1V4h10v1c0,0.552,0.447,1,1,1s1-0.448,1-1V4h1c1.104,0,2,0.896,2,2V20z"/>
<circle cx="6" cy="12" r="2"/>
<circle cx="18" cy="12" r="2"/>
<circle cx="12" cy="12" r="2"/>
<circle cx="6" cy="18" r="2"/>
<circle cx="18" cy="18" r="2"/>
<circle cx="12" cy="18" r="2"/>
</g>
</svg>
<span class="figure">
2014				</span>
</div>
</div>
<!-- /.rh_property__meta -->
<div class="rh_property__meta prop_area">
<span class="rh_meta_titles">
Area            </span>
<div>
<svg class="rh_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g>
<circle cx="2" cy="2" r="2"/>
</g>
<g>
<circle cx="2" cy="22" r="2"/>
</g>
<g>
<circle cx="22" cy="2" r="2"/>
</g>
<rect x="1" y="1" width="2" height="22"/>
<rect x="1" y="1" width="22" height="2"/>
<path opacity="0.5" d="M23,20.277V1h-2v19.277C20.7,20.452,20.452,20.7,20.277,21H1v2h19.277c0.347,0.596,0.984,1,1.723,1
c1.104,0,2-0.896,2-2C24,21.262,23.596,20.624,23,20.277z"/>
</svg>
<span class="figure">
4300				</span>
                <span class="label">
    Sq Ft					</span>
        </div>
</div>
<!-- /.rh_property__meta -->
<div class="rh_property__meta prop_lot_size">
<span class="rh_meta_titles">
Lot Size            </span>
<div>
<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
<g>
<rect fill="none" height="26" width="26" y="-1" x="-1"/>
</g>
<g>
<rect x="1" y="1" id="svg_1" width="32" height="32" fill="none"/>
<path class="rh_svg" stroke="null" fill="#1ea69a" id="svg_2" d="m23.952237,12l-4.482089,-4.170255l0,2.78017l-1.49403,0l0,-4.170255l-4.482089,0l0,-1.390085l2.988059,0l-4.482089,-4.170255l-4.482089,4.170255l2.988059,0l0,1.390085l-4.482089,0l0,4.170255l-1.49403,0l0,-2.78017l-4.482089,4.170255l4.482089,4.170255l0,-2.78017l1.49403,0l0,4.170255l4.482089,0l0,1.390085l-2.988059,0l4.482089,4.170255l4.482089,-4.170255l-2.988059,0l0,-1.390085l4.482089,0l0,-4.170255l1.49403,0l0,2.78017l4.482089,-4.170255zm-7.470148,4.170255l-8.964178,0l0,-8.34051l8.964178,0l0,8.34051z"/>
</g>
</svg>                <span class="figure">
4600				</span>
                <span class="label">
    Sq Ft					</span>
        </div>
</div>
<!-- /.rh_property__meta -->
</div>
                        </div>
                        <div id="property-content-section-content" class="property-content-section ">
<h4 class="rh_property__heading">Description    </h4>
<div class="rh_content">

<p>Enchanting three bedroom, three bath home with spacious one bedroom, one bath cabana, in-laws quarters. Charming living area features fireplace and fabulous art deco details. Formal dining room. Remodelled kitchen with granite countertops, white cabinetry and stainless appliances. Lovely master bedroom has updated bath, beautiful view of the pool. Guest bedrooms have walk-in, cedar closets. Delightful backyard; majestic oaks surround the free form pool and expansive patio, wet bar and grill.</p>
</div>
</div>    <div id="property-content-section-additional-details" class="property-content-section ">
<h4 class="rh_property__heading rh_property__additional_details">Additional Details</h4><div class="rh-property-additional-inner-wrap"><ul class="rh_property__additional clearfix">            <li>
<span class="title">BEDROOM FEATURES:</span>
<span class="value">Main Floor Master Bedroom, Walk-In Closet</span>
</li>
    <li>
<span class="title">DINING AREA:</span>
<span class="value">Breakfast Counter/Bar, Living/Dining Combo</span>
</li>
    <li>
<span class="title">DOORS &amp; WINDOWS:</span>
<span class="value">Bay Window</span>
</li>
    <li>
<span class="title">ENTRY LOCATION:</span>
<span class="value">Mid Level</span>
</li>
    <li>
<span class="title">EXTERIOR CONSTRUCTION:</span>
<span class="value">Wood</span>
</li>
    <li>
<span class="title">FIREPLACE FUEL:</span>
<span class="value">Pellet Stove</span>
</li>
    <li>
<span class="title">FIREPLACE LOCATION:</span>
<span class="value">Living Room</span>
</li>
    <li>
<span class="title">FLOORS:</span>
<span class="value">Raised Foundation, Vinyl Tile, Wall-to-Wall Carpet, Wood</span>
</li>
</ul></div>    </div>

<div id="property-content-section-features" class="property-content-section rh_property__features_wrap ">
<h4 class="rh_property__heading">Features</h4>        <div class="rh-property-features-inner-wrap">
<ul class="rh_property__features arrow-bullet-list">
<li class="rh_property__feature" id="rh_property__feature_17"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/2-stories/index.html">2 Stories</a></li><li class="rh_property__feature" id="rh_property__feature_19"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/bike-path/index.html">Bike Path</a></li><li class="rh_property__feature" id="rh_property__feature_20"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/central-cooling/index.html">Central Cooling</a></li><li class="rh_property__feature" id="rh_property__feature_21"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/central-heating/index.html">Central Heating</a></li><li class="rh_property__feature" id="rh_property__feature_23"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/dual-sinks/index.html">Dual Sinks</a></li><li class="rh_property__feature" id="rh_property__feature_24"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/electric-range/index.html">Electric Range</a></li><li class="rh_property__feature" id="rh_property__feature_27"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/fire-place/index.html">Fire Place</a></li><li class="rh_property__feature" id="rh_property__feature_30"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/home-theater/index.html">Home Theater</a></li><li class="rh_property__feature" id="rh_property__feature_33"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/laundry-room/index.html">Laundry Room</a></li><li class="rh_property__feature" id="rh_property__feature_34"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/lawn/index.html">Lawn</a></li><li class="rh_property__feature" id="rh_property__feature_35"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/marble-floors/index.html">Marble Floors</a></li><li class="rh_property__feature" id="rh_property__feature_43"><span class="rh_done_icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="405.272px" height="405.272px" viewBox="0 0 405.272 405.272" xml:space="preserve">
<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836
c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064
c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"/>
</svg></span><a href="../../property-feature/swimming-pool/index.html">Swimming Pool</a></li>            </ul>
</div>
</div>


<div id="property-content-section-video" class="property-content-section rh_property__video">
<h4 class="rh_property__heading">Property Video</h4>                <div class="rh-property-videos-slider-inner-wrap">

</div>
</div>

<!-- Mortgage calculator -->

                    </div><!-- /.rh_property__content -->

                        <section class="rh_property__similar_properties">
        <h3 class="rh_property__heading">Similar Properties</h3>
 <div id="similar-properties-wrapper" class="similar-properties-wrapper">
<div class="rh-loader"><div></div><div></div><div></div><div></div></div>                <div id="similar-properties" class="rh_property__container rh_similar_properties_box">

<article class="rh_prop_card rh_prop_card--listing">

<div class="rh_prop_card__wrap">

<div class="rh_label rh_label__property_grid">
<div class="rh_label__wrap">
Featured                    <span></span>
</div>
</div>            <!-- /.rh_label -->

<figure class="rh_prop_card__thumbnail">
<div class="rh_figure_property_one">
<a href="../home-in-coral-gables/index.html">
<img width="680" height="510" src="../../../modern.b-cdn.net/wp-content/uploads/2020/06/exterior-00-680x510.jpg" class="attachment-modern-property-child-slider size-modern-property-child-slider wp-post-image" alt="" decoding="async" />                </a>

<div class="rh_overlay"></div>
<div class="rh_overlay__contents rh_overlay__fadeIn-bottom">
<a href="../home-in-coral-gables/index.html">View Property</a>
</div>
<!-- /.rh_overlay__contents -->

        </div>
<div class="rh_prop_card__btns">
                <span class="favorite-btn-wrap favorite-btn-42">
        <span class="favorite-placeholder highlight__red hide user_not_logged_in" data-propertyid="42"  data-tooltip="Added to favorites" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
<path class="rh_svg" d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z" transform="translate(-1077 -1922)"/>
</svg>							</span>
        <a href="#" class="favorite add-to-favorite user_not_logged_in" data-propertyid="42"  data-tooltip="Add to favorites" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
<path class="rh_svg" d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z" transform="translate(-1077 -1922)"/>
</svg>							</a>
    </span>
                <span class="add-to-compare-span compare-btn-42" data-property-id="42" data-property-title="Home in Coral Gables" data-property-url="https://modern.realhomes.io/property/home-in-coral-gables/" data-property-image="../../../modern.b-cdn.net/wp-content/uploads/2020/06/exterior-00-488x326.jpg">
<span class="compare-placeholder highlight hide" data-tooltip="Added to compare">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z" transform="translate(-1121 -1922)"/>
</svg>
</span>
<a class="rh_trigger_compare add-to-compare" href="../home-in-coral-gables/index.html" data-tooltip="Add to compare">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z" transform="translate(-1121 -1922)"/>
</svg>
</a>
</span>
        </div>
<!-- /.rh_prop_card__btns -->
</figure>
<!-- /.rh_prop_card__thumbnail -->

<div class="rh_prop_card__details">

<h3>
<a href="../home-in-coral-gables/index.html">Home in Coral Gables</a>
</h3>

    <p class="rh_prop_card__excerpt">Elegant retreat in a quiet Coral Gables setting. This home&hellip;</p>
<!-- /.rh_prop_card__excerpt -->

<div class="rh_prop_card__meta_wrap">

<div class="rh_prop_card_meta_theme_stylish">
<div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Bedrooms</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<defs>
</defs>
<path d="M1111.91,600.993h16.17a2.635,2.635,0,0,1,2.68,1.773l1.21,11.358a2.456,2.456,0,0,1-2.61,2.875h-18.73a2.46,2.46,0,0,1-2.61-2.875l1.21-11.358A2.635,2.635,0,0,1,1111.91,600.993Zm0.66-7.994h3.86c1.09,0,2.57.135,2.57,1l0.01,3.463c0.14,0.838-1.72,1.539-2.93,1.539h-4.17c-1.21,0-2.07-.7-1.92-1.539l0.37-3.139A2.146,2.146,0,0,1,1112.57,593Zm11,0h3.86a2.123,2.123,0,0,1,2.2,1.325l0.38,3.139c0.14,0.838-.72,1.539-1.93,1.539h-5.17c-1.21,0-2.07-.7-1.92-1.539L1121,594C1121,593.1,1122.48,593,1123.57,593Z" transform="translate(-1108 -593)"/>
</svg>
<span class="figure">4</span>
                </div>
</div>
    <div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Bathrooms</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="23.69" height="24" viewBox="0 0 23.69 24">
<path d="M1204,601a8,8,0,0,1,16,0v16h-2V601a6,6,0,0,0-12,0v1h-2v-1Zm7,6a6,6,0,0,0-12,0h12Zm-6,2a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,609Zm0,5a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,614Zm4.94-5.343a1,1,0,0,1,1.28.6l0.69,0.878a1,1,0,0,1-1.88.685l-0.69-.879A1,1,0,0,1,1209.94,608.657Zm2.05,4.638a1,1,0,0,1,1.28.6l0.35,0.94a1.008,1.008,0,0,1-.6,1.282,1,1,0,0,1-1.28-.6l-0.35-.939A1.008,1.008,0,0,1,1211.99,613.295Zm-11.93-4.638a1,1,0,0,1,.6,1.282l-0.69.879a1,1,0,1,1-1.87-.682l0.68-.88A1,1,0,0,1,1200.06,608.657Zm-2.05,4.639a1,1,0,0,1,.6,1.281l-0.34.941a1,1,0,0,1-1.88-.683l0.34-.94A1,1,0,0,1,1198.01,613.3Z" transform="translate(-1196.31 -593)"/>
</svg>
<span class="figure">4.5</span>
                </div>
</div>
    <div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Area</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g>
<circle cx="2" cy="2" r="2"/>
</g>
<g>
<circle cx="2" cy="22" r="2"/>
</g>
<g>
<circle cx="22" cy="2" r="2"/>
</g>
<rect x="1" y="1" width="2" height="22"/>
<rect x="1" y="1" width="22" height="2"/>
<path opacity="0.5" d="M23,20.277V1h-2v19.277C20.7,20.452,20.452,20.7,20.277,21H1v2h19.277c0.347,0.596,0.984,1,1.723,1
c1.104,0,2-0.896,2-2C24,21.262,23.596,20.624,23,20.277z"/>
</svg>
<span class="figure">3800</span>
                        <span class="label">Sq Ft</span>
                </div>
</div>
</div>
</div>
<!-- /.rh_prop_card__meta_wrap -->


<div class="rh_prop_card__priceLabel">

<span class="rh_prop_card__status">
For Sale				</span>
<!-- /.rh_prop_card__type -->


<p class="rh_prop_card__price">
     $850,000 
</p>
<!-- /.rh_prop_card__price -->

</div>
<!-- /.rh_prop_card__priceLabel -->

</div>
<!-- /.rh_prop_card__details -->

</div>
<!-- /.rh_prop_card__wrap -->

</article><!-- /.rh_prop_card -->

<article class="rh_prop_card rh_prop_card--listing">

<div class="rh_prop_card__wrap">


<figure class="rh_prop_card__thumbnail">
<div class="rh_figure_property_one">
<a href="../single-home-at-florida-5-pinecrest/index.html">
<img width="680" height="510" src="../../../modern.b-cdn.net/wp-content/uploads/2020/06/exterior-03-680x510.jpg" class="attachment-modern-property-child-slider size-modern-property-child-slider wp-post-image" alt="" decoding="async" loading="lazy" />                </a>

<div class="rh_overlay"></div>
<div class="rh_overlay__contents rh_overlay__fadeIn-bottom">
<a href="../single-home-at-florida-5-pinecrest/index.html">View Property</a>
</div>
<!-- /.rh_overlay__contents -->

        </div>
<div class="rh_prop_card__btns">
                <span class="favorite-btn-wrap favorite-btn-32">
        <span class="favorite-placeholder highlight__red hide user_not_logged_in" data-propertyid="32"  data-tooltip="Added to favorites" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
<path class="rh_svg" d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z" transform="translate(-1077 -1922)"/>
</svg>							</span>
        <a href="#" class="favorite add-to-favorite user_not_logged_in" data-propertyid="32"  data-tooltip="Add to favorites" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
<path class="rh_svg" d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z" transform="translate(-1077 -1922)"/>
</svg>							</a>
    </span>
                <span class="add-to-compare-span compare-btn-32" data-property-id="32" data-property-title="Single Home at Florida 5, Pinecrest" data-property-url="https://modern.realhomes.io/property/single-home-at-florida-5-pinecrest/" data-property-image="../../../modern.b-cdn.net/wp-content/uploads/2020/06/exterior-03-488x326.jpg">
<span class="compare-placeholder highlight hide" data-tooltip="Added to compare">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z" transform="translate(-1121 -1922)"/>
</svg>
</span>
<a class="rh_trigger_compare add-to-compare" href="../single-home-at-florida-5-pinecrest/index.html" data-tooltip="Add to compare">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z" transform="translate(-1121 -1922)"/>
</svg>
</a>
</span>
        </div>
<!-- /.rh_prop_card__btns -->
</figure>
<!-- /.rh_prop_card__thumbnail -->

<div class="rh_prop_card__details">

<h3>
<a href="../single-home-at-florida-5-pinecrest/index.html">Single Home at Florida 5, Pinecrest</a>
</h3>

    <p class="rh_prop_card__excerpt">Beautiful home on quiet, tree lined street. Addition and renovation&hellip;</p>
<!-- /.rh_prop_card__excerpt -->

<div class="rh_prop_card__meta_wrap">

<div class="rh_prop_card_meta_theme_stylish">
<div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Bedrooms</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<defs>
</defs>
<path d="M1111.91,600.993h16.17a2.635,2.635,0,0,1,2.68,1.773l1.21,11.358a2.456,2.456,0,0,1-2.61,2.875h-18.73a2.46,2.46,0,0,1-2.61-2.875l1.21-11.358A2.635,2.635,0,0,1,1111.91,600.993Zm0.66-7.994h3.86c1.09,0,2.57.135,2.57,1l0.01,3.463c0.14,0.838-1.72,1.539-2.93,1.539h-4.17c-1.21,0-2.07-.7-1.92-1.539l0.37-3.139A2.146,2.146,0,0,1,1112.57,593Zm11,0h3.86a2.123,2.123,0,0,1,2.2,1.325l0.38,3.139c0.14,0.838-.72,1.539-1.93,1.539h-5.17c-1.21,0-2.07-.7-1.92-1.539L1121,594C1121,593.1,1122.48,593,1123.57,593Z" transform="translate(-1108 -593)"/>
</svg>
<span class="figure">4</span>
                </div>
</div>
    <div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Bathrooms</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="23.69" height="24" viewBox="0 0 23.69 24">
<path d="M1204,601a8,8,0,0,1,16,0v16h-2V601a6,6,0,0,0-12,0v1h-2v-1Zm7,6a6,6,0,0,0-12,0h12Zm-6,2a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,609Zm0,5a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,614Zm4.94-5.343a1,1,0,0,1,1.28.6l0.69,0.878a1,1,0,0,1-1.88.685l-0.69-.879A1,1,0,0,1,1209.94,608.657Zm2.05,4.638a1,1,0,0,1,1.28.6l0.35,0.94a1.008,1.008,0,0,1-.6,1.282,1,1,0,0,1-1.28-.6l-0.35-.939A1.008,1.008,0,0,1,1211.99,613.295Zm-11.93-4.638a1,1,0,0,1,.6,1.282l-0.69.879a1,1,0,1,1-1.87-.682l0.68-.88A1,1,0,0,1,1200.06,608.657Zm-2.05,4.639a1,1,0,0,1,.6,1.281l-0.34.941a1,1,0,0,1-1.88-.683l0.34-.94A1,1,0,0,1,1198.01,613.3Z" transform="translate(-1196.31 -593)"/>
</svg>
<span class="figure">4</span>
                </div>
</div>
    <div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Area</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g>
<circle cx="2" cy="2" r="2"/>
</g>
<g>
<circle cx="2" cy="22" r="2"/>
</g>
<g>
<circle cx="22" cy="2" r="2"/>
</g>
<rect x="1" y="1" width="2" height="22"/>
<rect x="1" y="1" width="22" height="2"/>
<path opacity="0.5" d="M23,20.277V1h-2v19.277C20.7,20.452,20.452,20.7,20.277,21H1v2h19.277c0.347,0.596,0.984,1,1.723,1
c1.104,0,2-0.896,2-2C24,21.262,23.596,20.624,23,20.277z"/>
</svg>
<span class="figure">5500</span>
                        <span class="label">Sq Ft</span>
                </div>
</div>
</div>
</div>
<!-- /.rh_prop_card__meta_wrap -->


<div class="rh_prop_card__priceLabel">

<span class="rh_prop_card__status">
For Sale				</span>
<!-- /.rh_prop_card__type -->


<p class="rh_prop_card__price">
     $580,000 
</p>
<!-- /.rh_prop_card__price -->

</div>
<!-- /.rh_prop_card__priceLabel -->

</div>
<!-- /.rh_prop_card__details -->

</div>
<!-- /.rh_prop_card__wrap -->

</article><!-- /.rh_prop_card -->
</div><!-- /.rh_property__container -->
</div><!-- /.similar-properties-wrapper -->
</section><!-- /.rh_property__similar -->

                <section class="rh_property__comments">
                                                                <div class="property-comments">
         <!-- end of comments -->                                            </div>
                                                            </section>
            </div><!-- /.rh_property__main -->

                                            <div class="rh_property__sidebar" data-sticky="true" data-top-gap="60" data-bottom-gap="60">
                                                        <aside class="rh_sidebar">
                            <section class="widget rh_property_agent  ">
  
    
        <div class="rh_property_agent__enquiry_form">
<form id="agent-form-id54" class="rh_widget_form agent-form" method="post" action="#">
    <p class="rh_widget_form__row">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" class="required" title="* Please provide your name" />
    </p><!-- /.rh_widget_form__row -->
    <p class="rh_widget_form__row">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" class="required" title="* Please provide valid email address" />
    </p><!-- /.rh_widget_form__row -->
    <p class="rh_widget_form__row">
        <label for="phone">Phone</label>
        <input type="text" name="phone" placeholder="Phone" class="required" title="* Please provide valid phone number" />
    </p><!-- /.rh_widget_form__row -->
    <p class="rh_widget_form__row">
        <label for="message">Message</label>
        <textarea cols="40" rows="6" type="text" name="message" placeholder="Message" class="required" title="* Please provide your message">Hello, I am interested in [Home in Merrick Way].                            </textarea>
    </p><!-- /.rh_widget_form__row -->
    <div class="rh_inspiry_gdpr rh_widget_form__row clearfix"><span class="gdpr-checkbox-label">GDPR Agreement <span class="required-label">*</span></span><input type="checkbox" name="gdpr" id="rh_inspiry_gdpr" class="required" value="I consent to having this website store my submitted information so they can respond to my inquiry." title="* Please accept GDPR agreement"><label for="rh_inspiry_gdpr">I consent to having this website store my submitted information so they can respond to my inquiry.</label></div>                                <div class="rh_modal__recaptcha">
                <div class="inspiry-recaptcha-wrapper clearfix g-recaptcha-type-v3">
                    <div class="inspiry-google-recaptcha"></div>
                </div>
            </div>
                                    <input type="hidden" name="nonce" value="2d51a5b0e6" />
    <input type="hidden" name="target" value="&#109;&#101;l&#105;ssa&#064;realho&#109;e&#115;.&#105;&#111;">
                                <input type="hidden" name="agent_id" value="54">
                                <input type="hidden" name="author_name" value="Agent Melissa William">
    <input type="hidden" name="property_id" value="45">
    <input type="hidden" name="action" value="send_message_to_agent" />
    <input type="hidden" name="property_title" value="Home in Merrick Way" />
    <input type="hidden" name="property_permalink" value="index.html" />
                                <div class="sidebar-agent-form-contact-methods-wrapper">
                        <a class="btn-whatsapp-chat rh-btn rh-btn-primary rh_property_agent__link" href="https://api.whatsapp.com/send?phone=1-234-456-7895&amp;text=Hello,%20I'm%20interested%20in%20%5BHome%20in%20Merrick%20Way%5D%20https://modern.realhomes.io/property/home-in-merrick-way/" target="_blank">
<svg enable-background="new 0 0 336 235.2" height="42.5" viewBox="0 0 42.5 42.5" width="42.5" xmlns="http://www.w3.org/2000/svg"><path d="m2 0h42.5v42.5h-42.5z" fill="none" style="fill-opacity: 0;" pointer-events="none"/><path d="m380.9 97.1c-41.9-42-97.7-65.1-157-65.1-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111l-31.5 115 117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3 18.6-68.1-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1s56.2 81.2 56.1 130.5c0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8s-14.3 18-17.6 21.8c-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7s-12.5-30.1-17.1-41.2c-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2s-9.7 1.4-14.8 6.9c-5.1 5.6-19.4 19-19.4 46.3s19.9 53.7 22.6 57.4c2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4s4.6-24.1 3.2-26.4c-1.3-2.5-5-3.9-10.5-6.6z" transform="matrix(.09375 0 0 .09375 .333336 -2.833329)"/></svg>                <span class="btn-text">WhatsApp</span>
</a>
        <a class="btn-call-now rh-btn rh-btn-primary rh_property_agent__link" href="tel:1-234-456-7892">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
<path d="M91.8,198.9c35.7,71.4,96.9,130.05,168.3,168.3L316.2,311.1c7.649-7.649,17.85-10.199,25.5-5.1    c28.05,10.2,58.649,15.3,91.8,15.3c15.3,0,25.5,10.2,25.5,25.5v86.7c0,15.3-10.2,25.5-25.5,25.5C193.8,459,0,265.2,0,25.5    C0,10.2,10.2,0,25.5,0h89.25c15.3,0,25.5,10.2,25.5,25.5c0,30.6,5.1,61.2,15.3,91.8c2.55,7.65,0,17.85-5.1,25.5L91.8,198.9z"></path>
</svg>                    <span class="btn-text">Call Now</span>
</a>
                    </div>
                            <button type="submit" name="submit" class="submit-button rh-btn rh-btn-primary rh_widget_form__submit btn-mail-now">
        <svg enable-background="new 0 0 336 235.2" height="48" viewBox="0 0 64 48" width="64" xmlns="http://www.w3.org/2000/svg"><path d="m-2 0h64v48h-64z" fill="#fff" style="fill-opacity: 0;" pointer-events="none"/><g fill="none" transform="matrix(.7113142357 0 0 .7113142357 .14443755071 -7.85554744929)"><path d="m80.89 78.772h-71.78c-5.023 0-9.11-4.087-9.11-9.11v-49.324c0-5.023 4.087-9.11 9.11-9.11h71.78c5.023 0 9.11 4.087 9.11 9.11v49.324c0 5.024-4.087 9.11-9.11 9.11zm-71.78-61.544c-1.715 0-3.11 1.396-3.11 3.11v49.324c0 1.715 1.395 3.11 3.11 3.11h71.78c1.715 0 3.11-1.396 3.11-3.11v-49.324c0-1.715-1.396-3.11-3.11-3.11z" stroke-linecap="round"/><path d="m45 55.427c-5.408 0-10.599-2.292-14.242-6.288l-28.265-31.014 4.435-4.042 28.265 31.013c2.545 2.792 6.028 4.331 9.807 4.331s7.262-1.538 9.808-4.331l28.266-31.013 4.434 4.042-28.267 31.013c-3.642 3.997-8.833 6.289-14.241 6.289z" stroke-linecap="round"/><path d="m-.96 57.16h38.98v6h-38.98z" transform="matrix(.7053 -.7089 .7089 .7053 -37.1881 30.8639)"/><path d="m68.470001 40.669998h6v38.98h-6z" transform="matrix(.709 -.7053 .7053 .709 -21.628 67.9146)"/></g></svg>                            <span class="btn-text">Send Message</span>
    </button>
    <span id="ajax-loader-agent-form-id54" class="ajax-loader"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0 0 128 128" xml:space="preserve"><rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF" /><g><path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z" fill="#1ea69a" fill-opacity="1"/><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1000ms" repeatCount="indefinite"></animateTransform></g></svg>
</span>
    <div class="error-container"></div>
    <div class="message-container"></div>
</form>
</div><!-- /.rh_property_agent__enquiry_form -->
</section>

<section id="featured_properties_widget-5" class="widget clearfix Featured_Properties_Widget"><h3 class="title">Featured Properties</h3><article class="rh_prop_card rh_prop_card--block">
<div class="rh_prop_card__wrap">
<div class="rh_label rh_label__featured_widget">
<div class="rh_label__wrap">
Featured                    <span></span>
</div>
</div>
<figure class="rh_prop_card__thumbnail">
<div class="rh_figure_property_one">
<a href="../apartments-building-having-15-apartments/luxury-apartment/index.html">
<img width="680" height="510" src="../../../modern.b-cdn.net/wp-content/uploads/2020/06/apartment-05-680x510.jpg" class="attachment-modern-property-child-slider size-modern-property-child-slider wp-post-image" alt="apartment" decoding="async" loading="lazy" />                </a>
<div class="rh_overlay"></div>
<div class="rh_overlay__contents rh_overlay__fadeIn-bottom">
                        <a href="../apartments-building-having-15-apartments/luxury-apartment/index.html">View Property</a>
                    </div>
        </div>
<div class="rh_prop_card__btns">
                <span class="favorite-btn-wrap favorite-btn-39">
        <span class="favorite-placeholder highlight__red hide user_not_logged_in" data-propertyid="39"  data-tooltip="Added to favorites" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
<path class="rh_svg" d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z" transform="translate(-1077 -1922)"/>
</svg>							</span>
        <a href="#" class="favorite add-to-favorite user_not_logged_in" data-propertyid="39"  data-tooltip="Add to favorites" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
<path class="rh_svg" d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z" transform="translate(-1077 -1922)"/>
</svg>							</a>
    </span>
                <span class="add-to-compare-span compare-btn-39" data-property-id="39" data-property-title="Luxury Apartment" data-property-url="https://modern.realhomes.io/property/apartments-building-having-15-apartments/luxury-apartment/" data-property-image="../../../modern.b-cdn.net/wp-content/uploads/2020/06/apartment-05-488x326.jpg">
<span class="compare-placeholder highlight hide" data-tooltip="Added to compare">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z" transform="translate(-1121 -1922)"/>
</svg>
</span>
<a class="rh_trigger_compare add-to-compare" href="../apartments-building-having-15-apartments/luxury-apartment/index.html" data-tooltip="Add to compare">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z" transform="translate(-1121 -1922)"/>
</svg>
</a>
</span>
        </div>
</figure><!-- /.rh_prop_card__thumbnail -->

<div class="rh_prop_card__details">
<h3><a href="../apartments-building-having-15-apartments/luxury-apartment/index.html">Luxury Apartment</a></h3>
<p class="rh_prop_card__excerpt">Luxury Apartment available in an ideal location, with city and&hellip;</p>
<div class="rh_prop_card_meta_theme_stylish">
<div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Bedrooms</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<defs>
</defs>
<path d="M1111.91,600.993h16.17a2.635,2.635,0,0,1,2.68,1.773l1.21,11.358a2.456,2.456,0,0,1-2.61,2.875h-18.73a2.46,2.46,0,0,1-2.61-2.875l1.21-11.358A2.635,2.635,0,0,1,1111.91,600.993Zm0.66-7.994h3.86c1.09,0,2.57.135,2.57,1l0.01,3.463c0.14,0.838-1.72,1.539-2.93,1.539h-4.17c-1.21,0-2.07-.7-1.92-1.539l0.37-3.139A2.146,2.146,0,0,1,1112.57,593Zm11,0h3.86a2.123,2.123,0,0,1,2.2,1.325l0.38,3.139c0.14,0.838-.72,1.539-1.93,1.539h-5.17c-1.21,0-2.07-.7-1.92-1.539L1121,594C1121,593.1,1122.48,593,1123.57,593Z" transform="translate(-1108 -593)"/>
</svg>
<span class="figure">2</span>
                </div>
</div>
    <div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Bathrooms</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="23.69" height="24" viewBox="0 0 23.69 24">
<path d="M1204,601a8,8,0,0,1,16,0v16h-2V601a6,6,0,0,0-12,0v1h-2v-1Zm7,6a6,6,0,0,0-12,0h12Zm-6,2a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,609Zm0,5a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,614Zm4.94-5.343a1,1,0,0,1,1.28.6l0.69,0.878a1,1,0,0,1-1.88.685l-0.69-.879A1,1,0,0,1,1209.94,608.657Zm2.05,4.638a1,1,0,0,1,1.28.6l0.35,0.94a1.008,1.008,0,0,1-.6,1.282,1,1,0,0,1-1.28-.6l-0.35-.939A1.008,1.008,0,0,1,1211.99,613.295Zm-11.93-4.638a1,1,0,0,1,.6,1.282l-0.69.879a1,1,0,1,1-1.87-.682l0.68-.88A1,1,0,0,1,1200.06,608.657Zm-2.05,4.639a1,1,0,0,1,.6,1.281l-0.34.941a1,1,0,0,1-1.88-.683l0.34-.94A1,1,0,0,1,1198.01,613.3Z" transform="translate(-1196.31 -593)"/>
</svg>
<span class="figure">2</span>
                </div>
</div>
    <div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Area</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g>
<circle cx="2" cy="2" r="2"/>
</g>
<g>
<circle cx="2" cy="22" r="2"/>
</g>
<g>
<circle cx="22" cy="2" r="2"/>
</g>
<rect x="1" y="1" width="2" height="22"/>
<rect x="1" y="1" width="22" height="2"/>
<path opacity="0.5" d="M23,20.277V1h-2v19.277C20.7,20.452,20.452,20.7,20.277,21H1v2h19.277c0.347,0.596,0.984,1,1.723,1
c1.104,0,2-0.896,2-2C24,21.262,23.596,20.624,23,20.277z"/>
</svg>
<span class="figure">1650</span>
                        <span class="label">sq ft</span>
                </div>
</div>
</div>

<div class="rh_prop_card__priceLabel rh_prop_card__priceLabel_box">
<div class="rh_rvr_price_status_box">
<span class="rh_prop_card__status">
    For Rent                    </span>
<p class="rh_prop_card__price">
     $2,500 Monthly                    </p>
</div>
        </div>
</div>
</div><!-- /.rh_prop_card__wrap -->
</article><article class="rh_prop_card rh_prop_card--block">
<div class="rh_prop_card__wrap">
<div class="rh_label rh_label__featured_widget">
<div class="rh_label__wrap">
Featured                    <span></span>
</div>
</div>
<figure class="rh_prop_card__thumbnail">
<div class="rh_figure_property_one">
<a href="../villa-on-grand-avenue/index.html">
<img width="680" height="510" src="../../../modern.b-cdn.net/wp-content/uploads/2020/06/bunglow-01-680x510.jpg" class="attachment-modern-property-child-slider size-modern-property-child-slider wp-post-image" alt="" decoding="async" loading="lazy" />                </a>
<div class="rh_overlay"></div>
<div class="rh_overlay__contents rh_overlay__fadeIn-bottom">
                        <a href="../villa-on-grand-avenue/index.html">View Property</a>
                    </div>
        <span style="background: #1fb859"                  class='property-label'>Trendy</span>
    </div>
<div class="rh_prop_card__btns">
                <span class="favorite-btn-wrap favorite-btn-91">
        <span class="favorite-placeholder highlight__red hide user_not_logged_in" data-propertyid="91"  data-tooltip="Added to favorites" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
<path class="rh_svg" d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z" transform="translate(-1077 -1922)"/>
</svg>							</span>
        <a href="#" class="favorite add-to-favorite user_not_logged_in" data-propertyid="91"  data-tooltip="Add to favorites" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
<path class="rh_svg" d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z" transform="translate(-1077 -1922)"/>
</svg>							</a>
    </span>
                <span class="add-to-compare-span compare-btn-91" data-property-id="91" data-property-title="Villa on Grand Avenue" data-property-url="https://modern.realhomes.io/property/villa-on-grand-avenue/" data-property-image="../../../modern.b-cdn.net/wp-content/uploads/2020/06/bunglow-01-488x326.jpg">
<span class="compare-placeholder highlight hide" data-tooltip="Added to compare">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z" transform="translate(-1121 -1922)"/>
</svg>
</span>
<a class="rh_trigger_compare add-to-compare" href="../villa-on-grand-avenue/index.html" data-tooltip="Add to compare">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z" transform="translate(-1121 -1922)"/>
</svg>
</a>
</span>
        </div>
</figure><!-- /.rh_prop_card__thumbnail -->

<div class="rh_prop_card__details">
<h3><a href="../villa-on-grand-avenue/index.html">Villa on Grand Avenue</a></h3>
<p class="rh_prop_card__excerpt">Spacious and fabulous home in a prime location. This executive&hellip;</p>
<div class="rh_prop_card_meta_theme_stylish">
<div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Bedrooms</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<defs>
</defs>
<path d="M1111.91,600.993h16.17a2.635,2.635,0,0,1,2.68,1.773l1.21,11.358a2.456,2.456,0,0,1-2.61,2.875h-18.73a2.46,2.46,0,0,1-2.61-2.875l1.21-11.358A2.635,2.635,0,0,1,1111.91,600.993Zm0.66-7.994h3.86c1.09,0,2.57.135,2.57,1l0.01,3.463c0.14,0.838-1.72,1.539-2.93,1.539h-4.17c-1.21,0-2.07-.7-1.92-1.539l0.37-3.139A2.146,2.146,0,0,1,1112.57,593Zm11,0h3.86a2.123,2.123,0,0,1,2.2,1.325l0.38,3.139c0.14,0.838-.72,1.539-1.93,1.539h-5.17c-1.21,0-2.07-.7-1.92-1.539L1121,594C1121,593.1,1122.48,593,1123.57,593Z" transform="translate(-1108 -593)"/>
</svg>
<span class="figure">4</span>
                </div>
</div>
    <div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Bathrooms</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="23.69" height="24" viewBox="0 0 23.69 24">
<path d="M1204,601a8,8,0,0,1,16,0v16h-2V601a6,6,0,0,0-12,0v1h-2v-1Zm7,6a6,6,0,0,0-12,0h12Zm-6,2a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,609Zm0,5a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,614Zm4.94-5.343a1,1,0,0,1,1.28.6l0.69,0.878a1,1,0,0,1-1.88.685l-0.69-.879A1,1,0,0,1,1209.94,608.657Zm2.05,4.638a1,1,0,0,1,1.28.6l0.35,0.94a1.008,1.008,0,0,1-.6,1.282,1,1,0,0,1-1.28-.6l-0.35-.939A1.008,1.008,0,0,1,1211.99,613.295Zm-11.93-4.638a1,1,0,0,1,.6,1.282l-0.69.879a1,1,0,1,1-1.87-.682l0.68-.88A1,1,0,0,1,1200.06,608.657Zm-2.05,4.639a1,1,0,0,1,.6,1.281l-0.34.941a1,1,0,0,1-1.88-.683l0.34-.94A1,1,0,0,1,1198.01,613.3Z" transform="translate(-1196.31 -593)"/>
</svg>
<span class="figure">4</span>
                </div>
</div>
    <div class="rh_prop_card__meta">
                <span class="rh_meta_titles">Area</span>
                <div class="rh_meta_icon_wrapper">
<svg class="rh_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g>
<circle cx="2" cy="2" r="2"/>
</g>
<g>
<circle cx="2" cy="22" r="2"/>
</g>
<g>
<circle cx="22" cy="2" r="2"/>
</g>
<rect x="1" y="1" width="2" height="22"/>
<rect x="1" y="1" width="22" height="2"/>
<path opacity="0.5" d="M23,20.277V1h-2v19.277C20.7,20.452,20.452,20.7,20.277,21H1v2h19.277c0.347,0.596,0.984,1,1.723,1
c1.104,0,2-0.896,2-2C24,21.262,23.596,20.624,23,20.277z"/>
</svg>
<span class="figure">9350</span>
                        <span class="label">Sq Ft</span>
                </div>
</div>
</div>

<div class="rh_prop_card__priceLabel rh_prop_card__priceLabel_box">
<div class="rh_rvr_price_status_box">
<span class="rh_prop_card__status">
    For Rent                    </span>
<p class="rh_prop_card__price">
     $4,750 Monthly                    </p>
</div>
        </div>
</div>
</div><!-- /.rh_prop_card__wrap -->
</article></section>                                        </aside>
                                                    </div><!-- /.rh_property__sidebar -->
        </div><!-- /.rh_property__wrap -->
    </div><!-- /.rh_property -->
</div><!-- /.rh_page -->
    </section>
      
      <%- include('./components/footer.ejs') -%>

    </div>
    <a href="#top" id="scroll-top" class="stp_right"
      ><i class="fas fa-chevron-up"></i
    ></a>
    <!-- <script>// JavaScript code to handle form submission and API request
      document.getElementById('contactform').addEventListener('submit', async (event) => {
        event.preventDefault(); // Prevent default form submission behavior
      
        const form = event.target;
        const formData = new FormData(form);
      
        try {
          const response = await fetch('/backend/enquiries', {
            method: 'POST',
            body: formData,
          });
      
          const responseData = await response.json();
      
          if (response.ok) {
            // Clear form fields after successful submission
            form.reset();
      
            // Display success message
            const messageContainer = document.getElementById('message-container');
            messageContainer.innerHTML = '<p>Form submitted successfully!</p>';
          } else {
            // Handle errors and display them in the error container
            const errorContainer = document.getElementById('error-container');
            errorContainer.innerHTML = `<p>${responseData.error}</p>`;
          }
        } catch (error) {
          console.error('Error submitting form:', error);
        }
      });
      </script> -->
      <script>
        // Get a reference to the parent div element
const parentDiv = document.querySelector('.inspiry_property_masonry_style.images_7');
const videoDiv = document.querySelector('.rh-property-videos-slider-inner-wrap'); // Your target div

// Assuming property.files is an array of image URLs
const imageUrlsString = '<%= property.file %>';
const imageUrlsArray = imageUrlsString.split(',');


// Generate HTML code for each image and insert it into the parent div
imageUrlsArray.forEach((imageUrl) => {
    const trimmedImageUrl = imageUrl.trim();
    
    // Check if the URL ends with common image extensions
    if (trimmedImageUrl.match(/\.(jpg|jpeg|png|gif)$/i)) {

        const imageDiv = document.createElement('a');
        imageDiv.className = 'slider-img';
        imageDiv.style.backgroundImage = `url(${trimmedImageUrl})`;
        imageDiv.setAttribute('data-fancybox', 'gallery');
        imageDiv.href = trimmedImageUrl;
        imageDiv.dataset.thumb = trimmedImageUrl;

        const spanElement = document.createElement('span');
        spanElement.textContent = 'See All Photos';
        imageDiv.appendChild(spanElement);

        parentDiv.appendChild(imageDiv);
    }else if (trimmedImageUrl.match(/\.(mp4|mov|avi)$/i)){
        const videoElement = document.createElement('video');
        videoElement.controls = true;
        videoElement.style.width = '100%';
        videoElement.style.maxHeight = '300px'; // Set your desired height

        const sourceElement = document.createElement('source');
        sourceElement.src = trimmedImageUrl;
        // sourceElement.type = `video/${trimmedImageUrl.split('.').pop()}`;

        videoElement.appendChild(sourceElement);
        videoDiv.appendChild(videoElement);
    }
});


      </script>
    <%- include('./includes/end.ejs') -%>
